### Background:

As a talent sourcing and management company, we are interested in finding talented individuals for sourcing these candidates to technology companies. Finding talented candidates is not easy, for several reasons. The first reason is one needs to understand what the role is very well to fill in that spot, this requires understanding the client’s needs and what they are looking for in a potential candidate. The second reason is one needs to understand what makes a candidate shine for the role we are in search for. Third, where to find talented individuals is another challenge.

The nature of our job requires a lot of human labor and is full of manual operations. Towards automating this process we want to build a better approach that could save us time and finally help us spot potential candidates that could fit the roles we are in search for. Moreover, going beyond that for a specific role we want to fill in we are interested in developing a machine learning powered pipeline that could spot talented individuals, and rank them based on their fitness.

We are right now semi-automatically sourcing a few candidates, therefore the sourcing part is not a concern at this time but we expect to first determine best matching candidates based on how fit these candidates are for a given role. We generally make these searches based on some keywords such as “full-stack software engineer”, “engineering manager” or “aspiring human resources” based on the role we are trying to fill in. These keywords might change, and you can expect that specific keywords will be provided to you.

Assuming that we were able to list and rank fitting candidates, we then employ a review procedure, as each candidate needs to be reviewed and then determined how good a fit they are through manual inspection. This procedure is done manually and at the end of this manual review, we might choose not the first fitting candidate in the list but maybe the 7th candidate in the list. If that happens, we are interested in being able to re-rank the previous list based on this information. This supervisory signal is going to be supplied by starring the 7th candidate in the list. Starring one candidate actually sets this candidate as an ideal candidate for the given role. Then, we expect the list to be re-ranked each time a candidate is starred.

### Data Description:

The data comes from our sourcing efforts. We removed any field that could directly reveal personal details and gave a unique identifier for each candidate.

### Attributes:

id : unique identifier for candidate (numeric)

job_title : job title for candidate (text)

location : geographical location for candidate (text)

connections: number of connections candidate has, 500+ means over 500 (text)

### Output (desired target):

fit - how fit the candidate is for the role? (numeric, probability between 0-1)

## Keywords: “Aspiring human resources” or “seeking human resources”


### Goal(s):

Predict how fit the candidate is based on their available information (variable fit)

### Success Metric(s):

Rank candidates based on a fitness score.

Re-rank candidates when a candidate is starred.

### Bonus(es):

We are interested in a robust algorithm, tell us how your solution works and show us how your ranking gets better with each starring action.

How can we filter out candidates which in the first place should not be in this list?

Can we determine a cut-off point that would work for other roles without losing high potential candidates?

Do you have any ideas that we should explore so that we can even automate this procedure to prevent human bias?

In [1]:
# import modules
import random
import os
import warnings
# ignore warnings
warnings.filterwarnings('ignore')

# import libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import spacy
nlp = spacy.load('en_core_web_sm')
spacy_stopwords = spacy.lang.en.stop_words.STOP_WORDS

# sklearn
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.model_selection import train_test_split
# nltk
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize
from nltk.tokenize.treebank import TreebankWordDetokenizer
from nltk.stem import WordNetLemmatizer
# scipy
from scipy.spatial.distance import cosine
# gensim
from gensim.test.utils import get_tmpfile
from gensim.models import KeyedVectors, Word2Vec
from gensim.scripts.glove2word2vec import glove2word2vec

from tqdm import tqdm

# BERT
from sentence_transformers import SentenceTransformer


%matplotlib inline

In [2]:
# load the dataset
df = pd.read_csv('potential-talents.csv')

In [3]:
df.head()

,id,job_title,location,connection,fit
0,1,2019 C.T. Bauer College of Business Graduate (...,"Houston, Texas",85,NaN
1,2,Native English Teacher at EPIK (English Progra...,Kanada,500+,NaN
2,3,Aspiring Human Resources Professional,"Raleigh-Durham, North Carolina Area",44,NaN
3,4,People Development Coordinator at Ryan,"Denton, Texas",500+,NaN
4,5,Advisory Board Member at Celal Bayar University,"İzmir, Türkiye",500+,NaN

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 104 entries, 0 to 103
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   id          104 non-null    int64
 1   job_title   104 non-null    object
 2   location    104 non-null    object
 3   connection  104 non-null    object
 4   fit         0 non-null      float64
dtypes: float64(1), int64(1), object(3)
memory usage: 4.2+ KB

In [5]:
df.drop(['fit','id'], axis = 1, inplace = True)

In [6]:
df = df.drop_duplicates(ignore_index=True)

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 53 entries, 0 to 52
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   job_title   53 non-null     object
 1   location    53 non-null     object
 2   connection  53 non-null     object
dtypes: object(3)
memory usage: 1.4+ KB

In [8]:
df.head()

,job_title,location,connection
0,2019 C.T. Bauer College of Business Graduate (...,"Houston, Texas",85
1,Native English Teacher at EPIK (English Progra...,Kanada,500+
2,Aspiring Human Resources Professional,"Raleigh-Durham, North Carolina Area",44
3,People Development Coordinator at Ryan,"Denton, Texas",500+
4,Advisory Board Member at Celal Bayar University,"İzmir, Türkiye",500+

## Create a function for preprocessing with "spaCy" NLP library

In [9]:
def is_token_allowed(token):
#    '''
#         Only allow valid tokens which are not stop words
#         and punctuation symbols.
#     '''
     if (not token or not token.text.strip() or
         token.is_stop or token.is_punct):
         return False
     return True

def preprocess_token(token):
     # Reduce token to its lowercase lemma form
     return token.lemma_.strip().lower()

#complete_filtered_tokens = [preprocess_token(token)
#for token in df_doc if is_token_allowed(token)]

In [10]:
# Create a new column as a copy of job_title, to be updated with preprocessing
df['nlp_job_title'] = df ['job_title']

In [11]:
for i in range (0, len(df)):
    df_doc = nlp(df.job_title[i])
    preproc_tokens = [preprocess_token(token)for token in df_doc if is_token_allowed(token)]
    df['nlp_job_title'][i] = " ".join(preproc_tokens)

In [12]:
complete_filtered_tokens = [preprocess_token(token)
for token in df_doc if is_token_allowed(token)]
complete_filtered_tokens

['director', 'administration', 'excellence', 'logging']

In [13]:
df.head(10)

,job_title,location,connection,nlp_job_title
0,2019 C.T. Bauer College of Business Graduate (...,"Houston, Texas",85,2019 c.t. bauer college business graduate magn...
1,Native English Teacher at EPIK (English Progra...,Kanada,500+,native english teacher epik english program korea
2,Aspiring Human Resources Professional,"Raleigh-Durham, North Carolina Area",44,aspiring human resources professional
3,People Development Coordinator at Ryan,"Denton, Texas",500+,people development coordinator ryan
4,Advisory Board Member at Celal Bayar University,"İzmir, Türkiye",500+,advisory board member celal bayar university
5,Aspiring Human Resources Specialist,Greater New York City Area,1,aspiring human resources specialist
6,Student at Humber College and Aspiring Human R...,Kanada,61,student humber college aspiring human resource...
7,HR Senior Specialist,San Francisco Bay Area,500+,hr senior specialist
8,Seeking Human Resources HRIS and Generalist Po...,Greater Philadelphia Area,500+,seek human resources hris generalist positions
9,Student at Chapman University,"Lake Forest, California",2,student chapman university

## Create a similar procedure for preprocessing with NLTK

In [14]:
#Create another job title column for comparing preprocessing using the "nltk" NLP library
df['cleaned_job_title'] = df['job_title']

In [15]:
# Removing unnecssary characters like pipes, comma, dot etc. for cleaning the data.
df['cleaned_job_title'] = df['cleaned_job_title'].str.replace(r"[^a-zA-Z0-9\' ']", "")
df['cleaned_job_title'] = df['cleaned_job_title'].str.lower()
df = df.reset_index(drop = True)

# Remove stop words and lemmatize words in cleaned job title
stop_words = set(stopwords.words('english'))
lemmatizer = WordNetLemmatizer()

for i in range (0, len(df)):
    word_tokens = word_tokenize(df['cleaned_job_title'][i])
    filtered_sentence = [w for w in word_tokens if w not in stop_words]
    lemmatized_sentence = []
    for word in filtered_sentence:
        lemmatized_sentence.append(lemmatizer.lemmatize(word))
    df['cleaned_job_title'][i] = TreebankWordDetokenizer().detokenize(lemmatized_sentence)

df.head(10)

,job_title,location,connection,nlp_job_title,cleaned_job_title
0,2019 C.T. Bauer College of Business Graduate (...,"Houston, Texas",85,2019 c.t. bauer college business graduate magn...,2019 ct bauer college business graduate magna ...
1,Native English Teacher at EPIK (English Progra...,Kanada,500+,native english teacher epik english program korea,native english teacher epik english program korea
2,Aspiring Human Resources Professional,"Raleigh-Durham, North Carolina Area",44,aspiring human resources professional,aspiring human resource professional
3,People Development Coordinator at Ryan,"Denton, Texas",500+,people development coordinator ryan,people development coordinator ryan
4,Advisory Board Member at Celal Bayar University,"İzmir, Türkiye",500+,advisory board member celal bayar university,advisory board member celal bayar university
5,Aspiring Human Resources Specialist,Greater New York City Area,1,aspiring human resources specialist,aspiring human resource specialist
6,Student at Humber College and Aspiring Human R...,Kanada,61,student humber college aspiring human resource...,student humber college aspiring human resource...
7,HR Senior Specialist,San Francisco Bay Area,500+,hr senior specialist,hr senior specialist
8,Seeking Human Resources HRIS and Generalist Po...,Greater Philadelphia Area,500+,seek human resources hris generalist positions,seeking human resource hris generalist position
9,Student at Chapman University,"Lake Forest, California",2,student chapman university,student chapman university

## It appears the preprocessing produced the same result with both methods, except spaCy is preserving the periods ( c.t. bauer vs ct bauer, inc. vs inc). When converting to a list for vectorization, the number of features is 183 vs 180.

## Let's check the one that keeps more features and try to identify if the "periods" are causing there to be 3 more features

In [16]:
# Convert job_title column into a list
nlp_title_list = list(df['nlp_job_title'])                    
cleaned_title_list = list(df['cleaned_job_title'])                    

# Vectorize job_title_list
vectorizer = TfidfVectorizer()                                 
# Specify which list to vectorize
vectorizer.fit(nlp_title_list)                    
X = vectorizer.transform(nlp_title_list)    

#vectorizer.fit(cleaned_title_list)                    
#XX = vectorizer.transform(cleaned_title_list)

In [17]:
nlp_title_list

['2019 c.t. bauer college business graduate magna cum laude aspire human resources professional',
 'native english teacher epik english program korea',
 'aspiring human resources professional',
 'people development coordinator ryan',
 'advisory board member celal bayar university',
 'aspiring human resources specialist',
 'student humber college aspiring human resources generalist',
 'hr senior specialist',
 'seek human resources hris generalist positions',
 'student chapman university',
 'svp chro marketing communications csr officer | engie | houston | woodlands | energy | gphr | sphr',
 'human resources coordinator intercontinental buckhead atlanta',
 'aspiring human resources management student seek internship',
 'seek human resources opportunities',
 'experienced retail manager aspire human resources professional',
 'human resources staffing recruiting professional',
 'human resources specialist luxottica',
 'director human resources north america groupe beneteau',
 'retired army national guard recruiter office manager seek position human resources',
 'human resources generalist scottmadden inc.',
 'business management major aspiring human resources manager',
 'aspiring human resources manager seek internship human resources',
 'human resources professional',
 'nortia staffing seek human resources payroll administrative professionals 408 709 2621',
 'aspiring human resources professional | passionate help create inclusive engaging work environment',
 'human resources| conflict management| policies procedures|talent management|benefits compensation',
 'human resources generalist schwan',
 'liberal arts major aspire human resources analyst',
 'junior mes engineer| information systems',
 'senior human resources business partner heil environmental',
 'aspiring human resources professional | energetic team focus leader',
 'hr manager endemol shine north america',
 'human resources professional world leader gis software',
 'rrp brand portfolio executive jti japan tobacco international',
 'information systems specialist programmer love datum organization',
 'bachelor science biology victoria university wellington',
 'human resources management major',
 'director human resources ey',
 'undergraduate research assistant styczynski lab',
 'lead official western illinois university',
 'seek employment opportunity customer service patient care',
 'admissions representative community medical center long beach',
 'seek human resources opportunities open travel relocation',
 'student westfield state university',
 'student indiana university kokomo business management retail manager delphi hardware paint',
 'aspiring human resources professional',
 'student',
 'seek human resources position',
 'aspiring human resources manager | graduate 2020 | seek entry level human resources position st. louis',
 'human resources generalist loparex',
 'business intelligence analytics traveler',
 'set success',
 'director administration excellence logging']

In [18]:
# Get feature names in all the documents
feature_names = vectorizer.get_feature_names()                  
print("Number of unique features: ", len(feature_names))

Number of unique features:  183

In [19]:
# Convert job titles into arrays
tfidf_vector = X.toarray()                                  
print("Shape of Tfidf vector: ", tfidf_vector.shape)

Shape of Tfidf vector:  (53, 183)

## Cosine Similarity

In [20]:
feature_names

['2019',
 '2020',
 '2621',
 '408',
 '709',
 'administration',
 'administrative',
 'admissions',
 'advisory',
 'america',
 'analyst',
 'analytics',
 'army',
 'arts',
 'aspire',
 'aspiring',
 'assistant',
 'atlanta',
 'bachelor',
 'bauer',
 'bayar',
 'beach',
 'benefits',
 'beneteau',
 'biology',
 'board',
 'brand',
 'buckhead',
 'business',
 'care',
 'celal',
 'center',
 'chapman',
 'chro',
 'college',
 'communications',
 'community',
 'compensation',
 'conflict',
 'coordinator',
 'create',
 'csr',
 'cum',
 'customer',
 'datum',
 'delphi',
 'development',
 'director',
 'employment',
 'endemol',
 'energetic',
 'energy',
 'engaging',
 'engie',
 'engineer',
 'english',
 'entry',
 'environment',
 'environmental',
 'epik',
 'excellence',
 'executive',
 'experienced',
 'ey',
 'focus',
 'generalist',
 'gis',
 'gphr',
 'graduate',
 'groupe',
 'guard',
 'hardware',
 'heil',
 'help',
 'houston',
 'hr',
 'hris',
 'human',
 'humber',
 'illinois',
 'inc',
 'inclusive',
 'indiana',
 'information',
 'intelligence',
 'intercontinental',
 'international',
 'internship',
 'japan',
 'jti',
 'junior',
 'kokomo',
 'korea',
 'lab',
 'laude',
 'lead',
 'leader',
 'level',
 'liberal',
 'logging',
 'long',
 'loparex',
 'louis',
 'love',
 'luxottica',
 'magna',
 'major',
 'management',
 'manager',
 'marketing',
 'medical',
 'member',
 'mes',
 'national',
 'native',
 'north',
 'nortia',
 'office',
 'officer',
 'official',
 'open',
 'opportunities',
 'opportunity',
 'organization',
 'paint',
 'partner',
 'passionate',
 'patient',
 'payroll',
 'people',
 'policies',
 'portfolio',
 'position',
 'positions',
 'procedures',
 'professional',
 'professionals',
 'program',
 'programmer',
 'recruiter',
 'recruiting',
 'relocation',
 'representative',
 'research',
 'resources',
 'retail',
 'retired',
 'rrp',
 'ryan',
 'schwan',
 'science',
 'scottmadden',
 'seek',
 'senior',
 'service',
 'set',
 'shine',
 'software',
 'specialist',
 'sphr',
 'st',
 'staffing',
 'state',
 'student',
 'styczynski',
 'success',
 'svp',
 'systems',
 'talent',
 'teacher',
 'team',
 'tobacco',
 'travel',
 'traveler',
 'undergraduate',
 'university',
 'victoria',
 'wellington',
 'western',
 'westfield',
 'woodlands',
 'work',
 'world']

In [21]:
tfidf_vector[0]

array([0.34239355, 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.28714724,
       0.        , 0.        , 0.        , 0.        , 0.34239355,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.25483022, 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.31007653,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.34239355, 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.31007653, 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.11895571, 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.34239355,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.34239355, 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.21411559, 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.11895571,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        ])

## Use alternative suggested search phrases to compare against the vector

In [22]:
# Searched phrase
phrase = 'full stack software engineer'

In [23]:
# Define cosine similarity function (cosine gives cosine distance)
def cosine_similarity(vector_1, vector_2):
    cos_sim = 1 - cosine(vector_1, vector_2)        
    return cos_sim

In [24]:
phrase

'full stack software engineer'

In [25]:
# Lemmatize searched phrase
lemmatized_phrase = []
tokenized_phrase = word_tokenize(phrase.lower())
for word in tokenized_phrase:
    lemmatized_phrase.append(lemmatizer.lemmatize(word))
lemmatized_phrase = TreebankWordDetokenizer().detokenize(lemmatized_phrase)

# Convert search phrase into a vector
X1 = vectorizer.transform([lemmatized_phrase])                    
X1_vector = X1.toarray()
print("Shape of search phrase vector:", X1_vector.shape)

Shape of search phrase vector: (1, 183)

In [26]:
# Calcualte Tfidf cosine similarity and add it to dataframe
sim_score_list = []
for x in range (0, len(df)):
    sim_score_list.append(cosine_similarity(tfidf_vector[x], X1_vector))

df['tfidf_sim_score'] = sim_score_list
df.sort_values(by ='tfidf_sim_score', ascending = False).head(20)

,job_title,location,connection,nlp_job_title,cleaned_job_title,tfidf_sim_score
32,Human Resources professional for the world lea...,"Highland, California",50,human resources professional world leader gis ...,human resource professional world leader gi so...,0.335103
28,Junior MES Engineer| Information Systems,"Myrtle Beach, South Carolina Area",52,junior mes engineer| information systems,junior me engineer information system,0.328256
27,Liberal Arts Major. Aspiring Human Resources A...,"Baton Rouge, Louisiana Area",7,liberal arts major aspire human resources analyst,liberal art major aspiring human resource analyst,0.000000
29,Senior Human Resources Business Partner at Hei...,"Chattanooga, Tennessee Area",455,senior human resources business partner heil e...,senior human resource business partner heil en...,0.000000
30,Aspiring Human Resources Professional | An ene...,"Austin, Texas Area",174,aspiring human resources professional | energe...,aspiring human resource professional energetic...,0.000000
31,HR Manager at Endemol Shine North America,"Los Angeles, California",268,hr manager endemol shine north america,hr manager endemol shine north america,0.000000
33,RRP Brand Portfolio Executive at JTI (Japan To...,Greater Philadelphia Area,500+,rrp brand portfolio executive jti japan tobacc...,rrp brand portfolio executive jti japan tobacc...,0.000000
34,Information Systems Specialist and Programmer ...,"Gaithersburg, Maryland",4,information systems specialist programmer love...,information system specialist programmer love ...,0.000000
35,Bachelor of Science in Biology from Victoria U...,"Baltimore, Maryland",40,bachelor science biology victoria university w...,bachelor science biology victoria university w...,0.000000
36,Human Resources Management Major,"Milpitas, California",18,human resources management major,human resource management major,0.000000
37,Director Human Resources at EY,Greater Atlanta Area,349,director human resources ey,director human resource ey,0.000000
38,Undergraduate Research Assistant at Styczynski...,Greater Atlanta Area,155,undergraduate research assistant styczynski lab,undergraduate research assistant styczynski lab,0.000000
39,Lead Official at Western Illinois University,Greater Chicago Area,39,lead official western illinois university,lead official western illinois university,0.000000
0,2019 C.T. Bauer College of Business Graduate (...,"Houston, Texas",85,2019 c.t. bauer college business graduate magn...,2019 ct bauer college business graduate magna ...,0.000000
41,Admissions Representative at Community medical...,"Long Beach, California",9,admissions representative community medical ce...,admission representative community medical cen...,0.000000
42,Seeking Human Resources Opportunities. Open t...,Amerika Birleşik Devletleri,415,seek human resources opportunities open travel...,seeking human resource opportunity open travel...,0.000000
43,Student at Westfield State University,"Bridgewater, Massachusetts",57,student westfield state university,student westfield state university,0.000000
44,Student at Indiana University Kokomo - Busines...,"Lafayette, Indiana",19,student indiana university kokomo business man...,student indiana university kokomo business man...,0.000000
45,Aspiring Human Resources Professional,"Kokomo, Indiana Area",71,aspiring human resources professional,aspiring human resource professional,0.000000
46,Student,"Houston, Texas Area",4,student,student,0.000000

In [27]:
# Convert job_title column into a list
#nlp_title_list = list(df['nlp_job_title'])                    
#cleaned_title_list = list(df['cleaned_job_title'])                    

# Vectorize job_title_list
vectorizer = TfidfVectorizer()                                 
# Specify which list to vectorize
#vectorizer.fit(nlp_title_list)                    
#X = vectorizer.transform(nlp_title_list)    

vectorizer.fit(cleaned_title_list)                    
XX = vectorizer.transform(cleaned_title_list)

In [28]:
cleaned_title_list

['2019 ct bauer college business graduate magna cum laude aspiring human resource professional',
 'native english teacher epik english program korea',
 'aspiring human resource professional',
 'people development coordinator ryan',
 'advisory board member celal bayar university',
 'aspiring human resource specialist',
 'student humber college aspiring human resource generalist',
 'hr senior specialist',
 'seeking human resource hris generalist position',
 'student chapman university',
 'svp chro marketing communication csr officer engie houston woodland energy gphr sphr',
 'human resource coordinator intercontinental buckhead atlanta',
 'aspiring human resource management student seeking internship',
 'seeking human resource opportunity',
 'experienced retail manager aspiring human resource professional',
 'human resource staffing recruiting professional',
 'human resource specialist luxottica',
 'director human resource north america groupe beneteau',
 'retired army national guard recruiter office manager seeking position human resource',
 'human resource generalist scottmadden inc',
 'business management major aspiring human resource manager',
 'aspiring human resource manager seeking internship human resource',
 'human resource professional',
 'nortia staffing seeking human resource payroll administrative professional 408 7092621',
 'aspiring human resource professional passionate helping create inclusive engaging work environment',
 'human resourcesconflict managementpolicies procedurestalent managementbenefits compensation',
 "human resource generalist schwan 's",
 'liberal art major aspiring human resource analyst',
 'junior me engineer information system',
 'senior human resource business partner heil environmental',
 'aspiring human resource professional energetic teamfocused leader',
 'hr manager endemol shine north america',
 'human resource professional world leader gi software',
 'rrp brand portfolio executive jti japan tobacco international',
 'information system specialist programmer love data organization',
 'bachelor science biology victoria university wellington',
 'human resource management major',
 'director human resource ey',
 'undergraduate research assistant styczynski lab',
 'lead official western illinois university',
 'seeking employment opportunity within customer service patient care',
 'admission representative community medical center long beach',
 'seeking human resource opportunity open travel relocation',
 'student westfield state university',
 'student indiana university kokomo business management retail manager delphi hardware paint',
 'aspiring human resource professional',
 'student',
 'seeking human resource position',
 'aspiring human resource manager graduating may 2020 seeking entrylevel human resource position st louis',
 'human resource generalist loparex',
 'business intelligence analytics traveler',
 'always set success',
 'director administration excellence logging']

In [29]:
# Get feature names in all the documents
feature_names = vectorizer.get_feature_names()                  
print("Number of unique features: ", len(feature_names))

Number of unique features:  180

In [30]:
# Convert job titles into arrays
tfidf_vector2 = XX.toarray()                                  
print("Shape of Tfidf vector: ", tfidf_vector2.shape)

Shape of Tfidf vector:  (53, 180)

In [31]:
# Searched phrase
phrase = phrase
# Define cosine similarity function (cosine gives cosine distance)
def cosine_similarity(vector_1, vector_2):
    cos_sim = 1 - cosine(vector_1, vector_2)        
    return cos_sim
# Lemmatize searched phrase
lemmatized_phrase = []
tokenized_phrase = word_tokenize(phrase.lower())
for word in tokenized_phrase:
    lemmatized_phrase.append(lemmatizer.lemmatize(word))
lemmatized_phrase = TreebankWordDetokenizer().detokenize(lemmatized_phrase)

# Convert search phrase into a vector
X2 = vectorizer.transform([lemmatized_phrase])                    
X2_vector = X2.toarray()
print("Shape of search phrase vector:", X2_vector.shape)

Shape of search phrase vector: (1, 180)

In [32]:
# Calcualte Tfidf cosine similarity and add it to dataframe
sim_score_list = []
for x in range (0, len(df)):
    sim_score_list.append(cosine_similarity(tfidf_vector2[x], X2_vector))

df['tfidf_sim_score2'] = sim_score_list
df.sort_values(by ='tfidf_sim_score2', ascending = False).head(20)

,job_title,location,connection,nlp_job_title,cleaned_job_title,tfidf_sim_score,tfidf_sim_score2
32,Human Resources professional for the world lea...,"Highland, California",50,human resources professional world leader gis ...,human resource professional world leader gi so...,0.335103,0.335942
28,Junior MES Engineer| Information Systems,"Myrtle Beach, South Carolina Area",52,junior mes engineer| information systems,junior me engineer information system,0.328256,0.328256
27,Liberal Arts Major. Aspiring Human Resources A...,"Baton Rouge, Louisiana Area",7,liberal arts major aspire human resources analyst,liberal art major aspiring human resource analyst,0.000000,0.000000
29,Senior Human Resources Business Partner at Hei...,"Chattanooga, Tennessee Area",455,senior human resources business partner heil e...,senior human resource business partner heil en...,0.000000,0.000000
30,Aspiring Human Resources Professional | An ene...,"Austin, Texas Area",174,aspiring human resources professional | energe...,aspiring human resource professional energetic...,0.000000,0.000000
31,HR Manager at Endemol Shine North America,"Los Angeles, California",268,hr manager endemol shine north america,hr manager endemol shine north america,0.000000,0.000000
33,RRP Brand Portfolio Executive at JTI (Japan To...,Greater Philadelphia Area,500+,rrp brand portfolio executive jti japan tobacc...,rrp brand portfolio executive jti japan tobacc...,0.000000,0.000000
34,Information Systems Specialist and Programmer ...,"Gaithersburg, Maryland",4,information systems specialist programmer love...,information system specialist programmer love ...,0.000000,0.000000
35,Bachelor of Science in Biology from Victoria U...,"Baltimore, Maryland",40,bachelor science biology victoria university w...,bachelor science biology victoria university w...,0.000000,0.000000
36,Human Resources Management Major,"Milpitas, California",18,human resources management major,human resource management major,0.000000,0.000000
37,Director Human Resources at EY,Greater Atlanta Area,349,director human resources ey,director human resource ey,0.000000,0.000000
38,Undergraduate Research Assistant at Styczynski...,Greater Atlanta Area,155,undergraduate research assistant styczynski lab,undergraduate research assistant styczynski lab,0.000000,0.000000
39,Lead Official at Western Illinois University,Greater Chicago Area,39,lead official western illinois university,lead official western illinois university,0.000000,0.000000
0,2019 C.T. Bauer College of Business Graduate (...,"Houston, Texas",85,2019 c.t. bauer college business graduate magn...,2019 ct bauer college business graduate magna ...,0.000000,0.000000
41,Admissions Representative at Community medical...,"Long Beach, California",9,admissions representative community medical ce...,admission representative community medical cen...,0.000000,0.000000
42,Seeking Human Resources Opportunities. Open t...,Amerika Birleşik Devletleri,415,seek human resources opportunities open travel...,seeking human resource opportunity open travel...,0.000000,0.000000
43,Student at Westfield State University,"Bridgewater, Massachusetts",57,student westfield state university,student westfield state university,0.000000,0.000000
44,Student at Indiana University Kokomo - Busines...,"Lafayette, Indiana",19,student indiana university kokomo business man...,student indiana university kokomo business man...,0.000000,0.000000
45,Aspiring Human Resources Professional,"Kokomo, Indiana Area",71,aspiring human resources professional,aspiring human resource professional,0.000000,0.000000
46,Student,"Houston, Texas Area",4,student,student,0.000000,0.000000

## While comparing the scores, we can also see some preprocessing differences in lemmatization. For example "[13] opportunities vs opportunity", "[27] aspire vs aspiring" . Some of the scores appear to be significantly different.

# Pre-trained word embedding - various sources

## GloVe (Global Vectors) - Select a publicy available corpus to vectorize and compare with our search phrase.

In [33]:
%%time
# Create temp file and save converted embedding into it
#target_file = get_tmpfile('word2vec.6B.300d.txt')
#target_file = get_tmpfile('word2vec.42B.300d.txt')
#glove2word2vec('glove.6B.300d.txt', target_file) 
#glove2word2vec('glove.42B.300d.txt', target_file) 


# Load the converted embedding into memory
#glove_model = KeyedVectors.load_word2vec_format(target_file)
glove_model = KeyedVectors.load_word2vec_format('word2vec.6B.300d.bin.gz', binary=True)

# Save as binary data
#glove_model.save_word2vec_format('word2vec.6B.300d.bin.gz', binary=True)
#glove_model.save_word2vec_format('word2vec.42B.300d.bin.gz', binary=True)

CPU times: user 13.8 s, sys: 1.41 s, total: 15.2 s
Wall time: 17.3 s

In [34]:
# Define a function to vectorize a sentence's words
def doc_token_vectors(sentence, model, sentence_vector_list, vector_dimensions):
    word_tokens = word_tokenize(sentence)
    filtered_words = [w for w in word_tokens if w in model.key_to_index.keys()]
    
    for j in range(0, len(word_tokens)):
        if word_tokens[j] in filtered_words:
            token_vector = model[word_tokens[j]]
        else:
            token_vector = np.zeros(vector_dimensions)
        sentence_vector_list.append(token_vector)
    
    return sentence_vector_list

In [35]:
glove_model['king']

array([ 0.0033901, -0.34614  ,  0.28144  ,  0.48382  ,  0.59469  ,
        0.012965 ,  0.53982  ,  0.48233  ,  0.21463  , -1.0249   ,
       -0.34788  , -0.79001  , -0.15084  ,  0.61374  ,  0.042811 ,
        0.19323  ,  0.25462  ,  0.32528  ,  0.05698  ,  0.063253 ,
       -0.49439  ,  0.47337  , -0.16761  ,  0.045594 ,  0.30451  ,
       -0.35416  , -0.34583  , -0.20118  ,  0.25511  ,  0.091111 ,
        0.014651 , -0.017541 , -0.23854  ,  0.48215  , -0.9145   ,
       -0.36235  ,  0.34736  ,  0.028639 , -0.027065 , -0.036481 ,
       -0.067391 , -0.23452  , -0.13772  ,  0.33951  ,  0.13415  ,
       -0.1342   ,  0.47856  , -0.1842   ,  0.10705  , -0.45834  ,
       -0.36085  , -0.22595  ,  0.32881  , -0.13643  ,  0.23128  ,
        0.34269  ,  0.42344  ,  0.47057  ,  0.479    ,  0.074639 ,
        0.3344   ,  0.10714  , -0.13289  ,  0.58734  ,  0.38616  ,
       -0.52238  , -0.22028  , -0.072322 ,  0.32269  ,  0.44226  ,
       -0.037382 ,  0.18324  ,  0.058082 ,  0.26938  ,  0.36202  ,
        0.13983  ,  0.016815 , -0.34426  ,  0.4827   ,  0.2108   ,
        0.75618  , -0.13092  , -0.025741 ,  0.43391  ,  0.33893  ,
       -0.16438  ,  0.26817  ,  0.68774  ,  0.311    , -0.2509   ,
        0.0027749, -0.39809  , -0.43399  ,  0.049531 , -0.42686  ,
       -0.094679 ,  0.56925  ,  0.28742  , -0.015721 , -0.059162 ,
        0.1912   , -0.59814  ,  0.65486  , -0.31363  ,  0.16881  ,
        0.10862  ,  0.075316 ,  0.34093  , -0.14706  ,  0.8359   ,
        0.39697  ,  0.52358  , -0.0096367, -0.14406  ,  0.37783  ,
       -0.596    , -0.063192 , -0.85297  , -0.3098   , -1.0587   ,
       -1.025    ,  0.4508   , -0.73324  , -1.2461   , -0.028488 ,
        0.20299  ,  0.00259  ,  0.31995  ,  0.35744  ,  0.28533  ,
        0.228    ,  0.50956  , -0.35942  ,  0.32683  ,  0.046264 ,
       -0.86896  , -0.2707   , -0.15454  , -0.32152  ,  0.31121  ,
        0.44134  ,  0.85189  ,  0.21065  , -0.13741  , -0.15359  ,
       -0.059722 ,  0.027375 ,  0.23724  , -0.39197  , -0.66065  ,
        0.23587  ,  0.032384 , -0.64043  ,  0.55004  ,  0.29597  ,
        0.14989  ,  0.46079  , -0.26561  , -0.1607   , -0.36328  ,
        1.0782   ,  0.31375  ,  0.1149   ,  0.20248  ,  0.032748 ,
        0.41082  , -0.082536 ,  0.36606  ,  0.18771  ,  0.75415  ,
        0.079648 ,  0.24181  , -0.60319  , -0.37296  , -0.047767 ,
        0.45008  , -0.21135  ,  0.022251 , -0.084325 ,  0.18644  ,
       -0.14682  ,  0.56571  , -0.30995  ,  0.17423  , -0.41122  ,
       -0.84772  , -0.71114  ,  0.69895  , -0.13008  , -0.34195  ,
       -0.30501  , -0.12646  ,  0.29957  , -0.43488  ,  0.31935  ,
        0.2817   , -0.20631  , -0.48877  ,  0.34477  ,  0.03907  ,
        1.6198   , -0.6352   , -0.0037675, -0.41271  ,  0.30704  ,
       -0.50486  ,  0.036385 , -0.046386 , -0.12004  ,  0.010029 ,
       -0.49116  ,  0.041486 ,  0.002979 , -0.57694  , -0.42088  ,
       -0.063218 ,  0.0034244, -0.25093  , -0.39689  , -0.36984  ,
        0.32689  ,  0.01385  ,  0.23634  , -0.055199 , -0.58453  ,
        0.13211  ,  0.50943  ,  0.25198  , -0.0088309, -0.21273  ,
       -0.48423  ,  0.5234   , -0.32832  , -0.013821 ,  0.15812  ,
        0.46696  ,  0.036822 , -0.090878 ,  0.18854  ,  0.20794  ,
       -0.42682  ,  0.59705  ,  0.53109  ,  0.19185  , -0.16392  ,
        0.064956 , -0.36009  , -0.59882  , -0.28134  ,  0.1017   ,
        0.02601  ,  0.44298  , -0.31922  , -0.22432  ,  0.7828   ,
        0.041307 ,  0.1742   ,  0.27777  ,  0.43792  , -0.84324  ,
        0.27012  , -0.21547  ,  0.52408  , -0.19426  , -0.21878  ,
       -0.20713  ,  0.092994 , -0.15804  ,  0.28716  , -0.11911  ,
       -0.20688  , -0.36482  ,  0.68548  , -0.10394  , -0.49974  ,
       -0.47038  , -1.2953   , -0.46236  ,  0.44467  ,  0.13337  ,
        0.88762  , -0.26494  ,  0.080676 , -0.20625  , -0.51232  ,
        0.31112  ,  0.062035 ,  0.30302  , -0.33344  , -0.20924  ,
       -0.17348  , -0.43434  , -0.45743  , -0.077803 , -0.33248  ,
       -0.078633 ,  0.82182  ,  0.082088 , -0.68795  ,  0.30266  ],
      dtype=float32)

In [36]:
word_tokens

['director', 'of', 'administration', 'at', 'excellence', 'logging']

In [37]:
# Vectorize job title using GloVe model
glove_vectors = []
for i in range(0, len(df)):
    glove_sentence_vector = []
    doc_token_vectors(df['cleaned_job_title'][i], glove_model, glove_sentence_vector, 300)
    glove_vectors.append(glove_sentence_vector)

In [38]:
lemmatized_phrase

'full stack software engineer'

In [39]:
# Vectorize searched phrase using GloVe model
glove_search_phrase_vector = []
doc_token_vectors(lemmatized_phrase, glove_model, glove_search_phrase_vector, 300)

[array([-3.1241e-01, -1.3576e-02, -4.0825e-02, -1.6829e-01, -1.1099e-01,
         4.2393e-01,  9.3001e-02, -3.0863e-01,  1.8309e-01, -1.5829e+00,
        -9.7536e-02,  3.8782e-01, -1.0337e-01,  1.4471e-02, -5.3984e-01,
         2.4077e-01,  1.8719e-01,  1.4655e-01,  8.1469e-02,  1.3690e-01,
         2.0060e-01, -3.1688e-02,  6.8364e-04,  1.1491e-01,  2.7969e-02,
         2.7588e-01, -1.4344e-01, -2.7636e-01,  3.3841e-01,  1.0303e-01,
        -6.8495e-02, -1.0502e-01, -4.9064e-02,  5.4676e-02, -8.3859e-01,
         2.8603e-01,  4.4684e-02, -4.4537e-02, -3.0361e-01,  1.2041e-01,
        -1.9970e-01, -1.3480e-01, -1.4405e-01, -1.5962e-01,  4.3908e-01,
         4.4993e-02,  2.2916e-01,  2.6439e-01,  2.5709e-02, -4.7517e-01,
        -9.0170e-02,  2.1946e-01,  4.3330e-02,  1.0401e-01, -2.6996e-01,
         3.8791e-01,  2.3419e-01,  1.0629e-01,  2.3689e-01,  2.4975e-02,
        -5.0640e-03, -2.5399e-01,  1.1019e-01, -3.1195e-01, -4.8532e-01,
        -3.8653e-01,  4.5221e-01, -3.3440e-01,  2.5434e-01, -2.6599e-01,
         1.9077e-01,  2.1907e-01,  4.1021e-01, -2.2861e-01,  2.0120e-01,
         2.4492e-01, -3.4424e-02,  2.1931e-01, -1.8735e-01,  4.5957e-02,
        -2.5434e-03, -4.2347e-02,  1.4148e-02,  1.5492e-01,  2.7551e-01,
        -8.2326e-02,  2.1828e-01,  1.4933e-01, -4.2608e-02,  2.4016e-01,
        -1.3544e-01, -4.6833e-01, -1.8700e-01, -1.0528e-01, -3.7615e-01,
         2.4559e-01, -5.2339e-01, -4.2431e-01,  3.0215e-01, -6.2506e-01,
        -2.9386e-01, -1.0736e-01, -2.1021e-01, -5.1455e-01, -1.6592e-01,
         7.1363e-03,  3.8434e-01,  4.7870e-01, -3.8954e-01, -4.0421e-01,
         4.6161e-01,  7.2265e-03, -1.4185e-01, -1.1291e-01, -5.7822e-02,
         9.6825e-02, -1.6057e-01, -1.5797e-01,  3.1125e-01, -1.7483e-01,
         2.0324e-02, -1.9052e-01,  2.5670e-01,  5.1491e-01, -1.2363e-01,
        -1.7105e-01,  1.1738e-01,  4.7945e-01,  9.0057e-02,  3.2740e-01,
         2.5775e-03,  2.7940e-01,  3.7137e-03,  3.7312e-02, -7.6429e-03,
         2.8780e-01, -8.4601e-03, -6.6887e-02,  9.0513e-02,  6.5029e-02,
        -4.1309e-02,  1.3239e-01,  7.1841e-02, -4.6130e-01, -2.7470e-01,
        -5.3658e-01, -5.3900e-01, -3.1498e-02,  2.5437e-02,  5.4507e-01,
         4.3341e-01, -5.0874e-02, -3.3947e-01, -6.2842e-02,  7.6561e-01,
         2.7151e-03, -6.1611e-01, -3.2738e-01,  1.5289e-01, -3.8624e-02,
         3.8222e-01,  2.4376e-02,  9.4046e-03,  5.0890e-02, -3.3544e-01,
        -1.4360e-01, -1.0565e-01,  5.6975e-01,  7.0359e-02,  5.4220e-01,
        -1.0554e-02,  6.0904e-01, -4.7665e-01,  3.3191e-01,  2.3620e-01,
        -2.5358e-01, -5.6328e-02,  4.4512e-01,  1.5389e-01,  1.9646e-01,
        -2.2462e-02, -1.7274e-01,  4.1051e-01,  4.4764e-01, -4.8779e-02,
        -9.5308e-02, -1.5690e-01,  1.6061e-01,  1.2947e-01,  7.8201e-02,
         9.7342e-02,  2.6582e-03, -8.6087e-02, -3.5936e-01,  1.7506e-01,
         1.3872e-01, -1.0359e-01,  7.2981e-01, -8.8792e-02,  3.0589e-01,
         7.6999e-01,  4.3682e-02, -1.6050e-01,  9.5148e-02,  3.5634e-01,
        -2.3195e-01, -1.6637e-01,  2.6363e-01,  2.7916e-02, -5.0033e-01,
         1.3646e-01, -5.8892e-01, -2.7599e-01,  5.5948e-01,  2.5561e-01,
         1.3890e-01, -2.5909e-01, -2.3564e-01,  3.7102e-02, -1.6424e-02,
         3.4179e-01,  2.7623e-01, -4.9948e-01,  1.4420e-01, -1.2506e-01,
        -4.0686e-02, -3.6536e-01,  1.5041e-01, -7.2214e-02, -5.2528e-01,
        -2.6969e-01, -1.5034e-01,  1.8083e-01, -4.5640e-01,  2.4654e-01,
         2.7788e-01,  2.0191e-01, -3.0791e-01, -7.0504e-01,  1.4527e-01,
         3.4356e-01,  2.0846e-01,  3.3617e-01,  1.5026e-01, -6.6082e-01,
        -8.4022e-02,  4.7929e-01,  5.4120e-02, -2.8936e-01,  1.4409e-01,
        -1.2424e-01,  2.9042e-01,  4.4772e-03, -2.0315e-01, -1.8295e-01,
        -1.7346e-01, -9.7878e-02,  6.3489e-02,  3.7928e-01,  2.8816e-01,
        -6.0440e-02,  1.8793e-01,  4.3414e-01,  7.3843e-01, -1.8354e-01,
        -8.5348e-02, -6.7786e-02, -3.5327e-01,  1.9952e-02,  3.2193e-01,
        -2.9897e-01, -2.5260e-02, -3.7666e-02,  1.9613e-01,  3.2994e-01,
        -4.1669e-01, -2.2235e+00,  7.0212e-02,  4.7882e-01, -2.4458e-01,
         7.9406e-02, -7.9996e-02,  4.8366e-03, -1.8174e-01,  3.5970e-01,
        -7.7995e-03,  2.5090e-02,  2.6506e-01,  9.1786e-03, -1.8642e-01,
        -1.6664e-01, -2.1352e-01,  1.2627e-01, -3.0607e-01, -5.7039e-03,
         3.2511e-01,  2.0604e-01,  8.9898e-02,  2.8392e-01, -5.1088e-01],
       dtype=float32),
 array([-0.010304 ,  0.17217  ,  0.14253  , -0.52305  , -0.34158  ,
         0.17711  , -0.019558 ,  0.2145   ,  0.081321 , -0.55373  ,
        -0.077563 ,  0.13811  ,  0.18387  , -0.5558   , -0.25289  ,
         0.11334  , -0.036312 , -0.27071  ,  0.32367  , -0.16383  ,
         0.13088  , -0.53418  , -0.31821  ,  0.10648  ,  0.69251  ,
         0.62454  , -0.045187 ,  0.72363  , -0.15228  , -0.45538  ,
        -0.39422  ,  0.44459  , -0.24276  ,  0.091184 , -0.20474  ,
         0.25957  , -0.20995  ,  0.20078  , -0.09802  ,  0.55614  ,
        -0.40015  , -0.24851  , -0.21225  ,  0.17462  , -0.1291   ,
         0.36219  ,  0.38607  , -0.23807  , -0.034383 , -0.10799  ,
         0.20868  , -0.040985 , -0.68921  , -0.35162  , -0.37464  ,
        -0.038552 , -0.36792  , -0.12047  , -0.9521   ,  0.27222  ,
         0.09255  , -0.30101  ,  0.81438  ,  0.15428  ,  0.22955  ,
        -0.1217   ,  0.010325 ,  0.74263  , -0.16528  , -0.32376  ,
        -0.079177 , -0.40144  , -0.15874  ,  0.19548  , -0.32409  ,
        -0.17738  ,  0.0040296, -0.10389  ,  0.037252 , -0.23866  ,
         0.19169  , -0.19294  ,  0.67067  , -0.32248  ,  0.21896  ,
         0.27987  , -0.093917 ,  0.689    ,  0.07021  , -0.093571 ,
        -0.43619  ,  0.21154  , -0.42501  ,  0.10616  , -0.0094304,
         0.21719  , -0.27263  , -0.14383  ,  0.14498  , -0.79485  ,
        -0.18662  , -0.0078328,  0.052857 , -0.72654  , -0.59781  ,
        -0.10838  , -0.34182  ,  0.44348  , -0.39356  , -0.27235  ,
        -0.44848  ,  0.74052  ,  0.10854  , -0.17393  , -0.48024  ,
        -0.095942 , -0.51887  , -0.12545  , -0.18398  , -0.3793   ,
         0.45919  , -0.38188  , -0.1928   ,  0.2613   ,  0.017809 ,
         0.22814  ,  0.0025178, -0.53382  ,  0.049587 ,  0.12878  ,
        -0.060174 ,  0.65168  ,  0.013556 , -0.19766  ,  1.3459   ,
         0.26714  ,  0.37776  , -0.021673 ,  0.14862  ,  0.16902  ,
         0.53801  , -0.2409   ,  0.18984  , -0.13242  , -0.52571  ,
         0.29607  ,  0.074849 ,  0.13527  , -0.019947 , -0.025051 ,
        -0.20325  ,  0.16095  , -0.23651  , -0.83137  ,  0.11613  ,
         0.26311  ,  0.51638  , -0.28368  ,  0.090251 ,  0.20022  ,
        -0.30065  , -0.11095  ,  0.043844 ,  0.14618  , -0.10589  ,
         0.25241  , -0.028187 ,  0.019517 ,  0.32745  , -0.10895  ,
         0.11495  , -0.4289   , -0.21728  , -0.26239  ,  0.18773  ,
        -0.26836  ,  0.025945 ,  0.18292  , -0.14523  , -0.9275   ,
         0.07917  , -0.34622  ,  0.95356  , -0.17612  , -0.38251  ,
        -0.24213  ,  0.15145  , -0.13122  ,  0.34351  ,  0.2393   ,
         0.41048  ,  0.353    ,  0.32252  ,  0.19307  ,  0.19575  ,
        -0.20458  ,  0.1603   ,  0.41011  , -0.38766  , -0.27165  ,
        -0.279    , -0.30465  ,  0.52447  ,  0.16877  ,  0.19633  ,
        -0.72324  ,  0.2588   ,  0.15145  ,  0.50892  , -0.19208  ,
        -0.083233 ,  0.058053 ,  0.21802  , -0.25395  ,  0.1629   ,
         0.075218 , -0.39779  , -0.27863  , -0.47413  , -0.2611   ,
        -0.55947  ,  0.44335  ,  0.33171  ,  0.74253  , -0.10273  ,
         0.19662  , -0.19495  ,  0.20324  ,  0.34788  , -0.33448  ,
         0.091737 ,  0.063521 , -0.34565  , -0.1554   ,  0.17479  ,
        -0.14391  , -0.031313 ,  0.11223  , -0.19719  , -0.54042  ,
         0.091622 , -0.10616  , -0.35265  , -0.14876  , -0.13463  ,
         0.020896 ,  0.18171  ,  0.24755  ,  0.18633  , -0.47052  ,
         0.27927  , -0.16494  , -0.079121 , -0.41854  ,  0.43309  ,
        -0.12346  , -0.14583  ,  0.19254  , -0.37123  ,  0.19299  ,
         0.094446 ,  0.36691  ,  0.25501  , -0.027026 ,  0.30176  ,
        -0.72383  ,  0.28934  ,  0.098567 ,  0.24026  , -0.0064137,
        -0.54214  , -0.026522 ,  0.18971  ,  0.1499   , -0.54315  ,
        -0.031468 , -0.61579  ,  0.19129  , -0.48195  ,  0.25162  ,
        -0.50782  , -0.46594  , -0.60528  , -0.43132  , -0.066717 ,
        -0.29703  ,  0.18712  , -0.070095 , -0.30562  , -0.35424  ,
         0.36959  ,  0.19974  , -0.19745  ,  0.089455 ,  0.1917   ,
        -0.2885   ,  0.24671  , -0.27953  ,  0.09715  , -0.14517  ],
       dtype=float32),
 array([-6.5442e-01, -1.8262e-01,  2.0932e-02, -4.8044e-01, -4.1811e-01,
        -4.4024e-02, -1.5063e-01,  3.7863e-01,  1.5294e-01, -1.5476e+00,
         2.8948e-01,  2.1536e-01,  4.3997e-01, -6.1595e-01,  2.2712e-01,
        -1.7840e-01,  1.9455e-01, -9.7692e-02,  3.4724e-01, -3.2356e-01,
         2.7367e-01,  2.5202e-01,  1.4349e-01,  2.1596e-01, -7.2913e-01,
         3.7203e-01,  1.7718e-01,  3.0261e-01, -1.8950e-01,  1.2575e-01,
        -3.2709e-01,  1.9905e-01,  3.9023e-01,  4.6775e-01, -3.5283e-01,
        -2.8080e-02, -4.1041e-01,  2.8305e-01, -3.6153e-01, -2.6682e-01,
        -1.7808e-02,  4.9426e-01, -2.7558e-02,  9.9688e-01,  1.3640e-01,
        -1.6859e-01,  2.5191e-01,  1.8017e-01, -9.2145e-03, -3.3039e-01,
         7.1924e-01, -3.5001e-01,  3.2673e-01,  2.7984e-01, -2.9464e-01,
         2.2200e-02, -2.0650e-02, -1.3851e-01, -4.3469e-01,  2.8527e-01,
         3.1565e-01,  4.5440e-01,  2.6656e-01, -1.1423e-01,  2.5500e-01,
         5.5286e-01, -4.1434e-01,  4.9884e-01,  1.1450e-01,  9.9285e-02,
        -7.1791e-01,  1.6001e-01,  2.4935e-01,  3.7100e-01,  2.2817e-01,
        -8.9889e-02,  1.5805e-01, -5.6082e-01,  2.0045e-01,  1.9568e-01,
         3.4867e-02, -2.5221e-01, -2.3062e-01, -6.2883e-01,  6.0855e-01,
        -4.4163e-02, -5.0314e-01,  5.1555e-01, -2.2966e-01, -3.5115e-01,
        -1.1525e+00,  6.3251e-01, -1.9539e-01,  3.6660e-01,  8.3846e-01,
         5.0207e-01, -8.6378e-01, -1.3616e-01,  4.3450e-01, -1.3807e+00,
        -6.6685e-02, -1.5751e-01, -4.1842e-01, -9.3277e-01, -1.1462e-01,
        -5.2980e-01, -1.1654e-01,  1.2607e-01, -5.8999e-01, -3.7947e-01,
        -1.2258e-01, -9.4215e-01, -4.7955e-01,  1.6409e-01, -2.8406e-01,
        -4.9456e-01, -1.0679e-01, -2.9596e-01, -4.1644e-01,  1.0715e-01,
         7.2655e-01,  2.3890e-01,  2.3440e-01, -5.7906e-01,  1.6793e-01,
        -6.1200e-01,  1.2140e-03,  8.3355e-01,  1.7253e-01,  9.9504e-02,
        -8.9734e-02,  3.7082e-01, -1.3047e-01,  5.8232e-01, -9.8443e-02,
        -6.3959e-02,  5.7143e-01, -7.4167e-01,  6.0263e-01,  2.8631e-01,
         4.0517e-01, -3.3353e-01,  2.6600e-01, -1.4581e-01,  1.1989e-01,
         2.6643e-01,  6.6141e-01, -1.4409e-01, -1.5427e-01, -7.3489e-02,
         3.7779e-01, -2.8177e-01, -3.6561e-01,  6.4947e-02,  7.7261e-02,
        -3.0785e-01,  1.3899e-01,  3.7871e-01, -1.7483e-01, -9.0531e-01,
        -5.1867e-01, -1.6666e-01, -4.8889e-01,  1.6242e-01,  4.1235e-01,
        -1.0219e-01,  4.3959e-01,  8.7634e-01, -4.8960e-01,  1.1432e+00,
        -7.5200e-01, -7.1484e-01, -7.2361e-01,  3.7249e-01,  2.0808e-02,
        -5.2795e-01,  3.9742e-01, -8.7756e-02, -3.0369e-01, -2.0046e-01,
        -5.2838e-02, -5.0963e-01,  5.1286e-01, -2.3782e-01,  2.1866e-01,
        -3.0651e-01,  2.3592e-01, -6.7911e-01,  1.8967e-01, -1.5150e-01,
        -2.8577e-01,  1.6805e-01, -2.6858e-01,  4.9723e-01,  2.1659e-01,
        -3.2872e-01, -3.6672e-01,  3.1696e-01, -4.3331e-02, -2.1263e-01,
         4.6507e-01, -1.1921e-01,  1.7359e-02,  3.7682e-01,  1.1022e-01,
        -1.2999e-01, -5.1215e-01,  2.4444e-01, -5.1232e-01, -2.3272e-01,
         1.7701e-01, -1.1267e-01,  2.4691e-01, -2.4840e-01, -3.0596e-01,
         2.7221e-01, -5.3831e-01,  7.5991e-01, -4.9902e-01,  4.0074e-01,
        -9.2238e-01,  4.5912e-01, -6.3732e-01,  2.2157e-01,  4.7309e-01,
        -4.5577e-01, -1.7800e-01,  3.2691e-01,  3.2032e-01,  1.1105e-01,
        -2.1111e-01,  3.5417e-01, -5.7780e-01,  1.4152e-01,  7.0379e-01,
        -7.6357e-02, -1.2207e-01,  2.2939e-01, -2.7914e-01, -4.4175e-02,
         1.9688e-01,  6.3038e-01, -5.5060e-02, -4.8324e-01, -8.2449e-01,
         2.7052e-01, -7.0961e-01, -2.6230e-01,  4.3855e-01, -1.0464e-01,
        -5.2161e-02,  1.1407e+00, -5.4257e-01,  7.3470e-02,  9.4184e-02,
        -1.1395e-01, -1.3790e-02,  5.4061e-01,  2.4462e-01,  4.3291e-01,
        -5.7500e-02, -3.8748e-01, -6.4452e-01, -1.6432e-02,  1.0905e-01,
         2.5003e-01, -8.2882e-02,  2.7665e-02,  3.7158e-01, -4.4891e-01,
        -6.1561e-02,  1.2899e-01,  4.6884e-02, -7.9357e-01, -5.6439e-01,
         1.4495e-01, -1.5351e+00,  9.5100e-03, -3.3359e-01, -2.4904e-01,
        -3.9543e-01,  2.3952e-02,  2.7582e-01,  4.6651e-01,  4.5828e-01,
        -8.2273e-02, -1.7954e-01, -2.5669e-01, -2.5390e-01, -1.4824e-01,
         6.9710e-01, -4.6320e-01, -3.5968e-01,  6.5006e-01, -1.3012e-01,
         2.4185e-01, -3.9349e-01, -1.8325e-01,  8.3394e-03, -5.0072e-01],
       dtype=float32),
 array([ 0.30628  , -0.14603  , -0.22847  , -0.46993  , -0.96826  ,
        -0.70918  , -0.022095 , -0.45337  , -0.027281 , -0.875    ,
         0.30563  , -0.20574  ,  0.41779  ,  0.014022 ,  0.66486  ,
         0.35572  ,  0.45155  , -0.14756  , -0.1201   ,  0.091767 ,
        -0.017925 , -0.12836  ,  0.089857 ,  0.46922  , -1.1318   ,
        -0.14866  ,  0.37664  ,  0.025441 ,  0.014158 , -0.13926  ,
         0.02166  ,  0.4318   ,  0.12816  , -0.032692 ,  0.16478  ,
         0.072774 ,  0.14252  , -0.035931 ,  0.30778  ,  0.10848  ,
         0.083134 ,  0.12183  ,  0.25343  ,  0.34257  , -0.14157  ,
        -0.22655  ,  0.070096 ,  0.27011  ,  0.27461  , -0.79498  ,
         0.3411   ,  0.022702 ,  0.13735  ,  1.0068   ,  0.086586 ,
         0.61575  ,  0.70316  ,  0.036796 , -0.40349  ,  0.3026   ,
        -0.058785 ,  0.16377  ,  0.68095  ,  0.11     , -0.4783   ,
         0.31531  , -0.3474   , -0.0072472,  0.10154  , -0.24151  ,
        -0.13872  ,  0.023546 , -0.27862  ,  0.53883  , -0.9115   ,
         0.49037  , -0.18735  ,  0.46259  , -0.34847  ,  0.41893  ,
         0.1187   ,  0.013625 ,  0.05606  ,  0.093443 ,  0.28664  ,
         0.10711  ,  0.43557  ,  0.37266  ,  0.10317  , -0.19784  ,
         0.12858  ,  0.70934  ,  0.42684  , -0.14091  , -0.043234 ,
         0.10064  , -0.29949  , -0.34896  ,  0.21561  , -0.2454   ,
        -0.75565  ,  0.055369 , -0.093542 , -0.44402  ,  0.10079  ,
        -0.51828  , -0.41228  ,  0.054913 , -0.097873 , -0.24591  ,
         0.33353  ,  0.36629  , -0.17696  ,  0.049842 , -0.64034  ,
        -0.035542 , -0.22895  , -0.20955  , -0.19186  ,  0.42864  ,
         0.15612  ,  0.82706  , -0.15231  , -0.83826  , -0.30343  ,
        -0.32263  , -0.060792 ,  0.22556  ,  0.57907  , -0.043833 ,
         0.076518 ,  0.015241 ,  0.067887 , -0.27777  , -0.46025  ,
         0.03392  , -0.16601  , -0.31323  ,  0.049086 ,  0.059657 ,
         0.38081  ,  0.028325 ,  0.44403  ,  0.16527  ,  0.38246  ,
         0.61358  ,  0.36116  ,  0.10449  , -0.38162  , -0.12088  ,
         0.92297  ,  0.16267  ,  0.077328 , -0.063087 ,  0.8812   ,
         0.21676  , -0.37301  , -0.035212 ,  0.26569  , -0.064273 ,
        -0.74051  , -0.52597  ,  0.2289   , -0.11687  ,  0.24397  ,
         0.11818  ,  0.22794  ,  0.16578  ,  0.048137 ,  0.61832  ,
        -0.10101  , -0.3509   , -0.1676   , -0.41285  ,  0.22423  ,
         0.85665  , -0.010027 , -0.87505  , -0.33425  ,  0.49103  ,
         0.11713  ,  0.5334   ,  0.1125   ,  0.78455  ,  0.01481  ,
         0.18506  , -0.40116  , -0.17718  ,  0.39448  ,  0.049769 ,
         0.26991  , -0.006923 , -0.065002 ,  0.36133  , -0.14716  ,
        -0.45098  , -0.15731  , -0.01329  ,  0.19643  , -0.4319   ,
         0.59618  ,  0.72358  ,  0.35043  , -0.03805  ,  0.31897  ,
         0.17088  ,  0.25699  ,  0.87112  ,  0.43369  ,  0.021143 ,
         0.20476  , -0.21463  ,  0.0086452, -0.55373  ,  0.52917  ,
         0.060608 , -0.46783  ,  0.47273  , -0.06581  ,  0.29448  ,
        -0.09874  , -0.19422  ,  0.3341   ,  0.10116  ,  0.87702  ,
        -0.24504  , -0.2007   , -0.59205  ,  0.23183  ,  0.13833  ,
         0.17839  ,  0.87995  ,  0.086472 , -0.014422 ,  0.12931  ,
         0.3086   , -0.014662 ,  0.26717  , -0.32616  ,  0.37155  ,
         0.18902  , -0.12647  ,  0.40494  ,  0.16143  ,  0.071068 ,
        -0.022485 ,  0.031157 , -0.48015  ,  0.16808  , -0.13399  ,
         0.36495  ,  0.20038  , -0.24293  ,  0.010205 ,  1.2384   ,
         0.45316  ,  0.15075  ,  0.16091  ,  0.39323  , -0.33977  ,
        -0.26627  , -0.027168 , -0.20832  ,  0.40239  ,  0.49484  ,
         0.29874  ,  0.035387 ,  0.12836  ,  0.30476  , -0.45282  ,
        -0.3462   , -0.096184 ,  0.077859 , -0.29221  , -0.3349   ,
        -0.05776  , -0.45128  , -0.27499  , -0.13162  , -0.52862  ,
         0.055387 ,  0.33463  ,  0.62224  , -0.21867  ,  0.34593  ,
         0.34312  ,  0.19042  ,  0.19364  , -0.38125  ,  0.13854  ,
         0.14696  , -0.42724  , -0.31699  , -0.2193   , -0.0047048,
         0.93408  , -0.24807  , -0.0057229, -0.29687  ,  0.78448  ],
       dtype=float32)]

In [40]:
# Calculate cosine similarity between searched phrase and job title
glove_similarity =[]
for i in range(0, len(df)):
    sim_score = cosine_similarity(np.mean(glove_vectors[i], axis = 0), np.mean(glove_search_phrase_vector, axis =0))
    glove_similarity.append(sim_score)

# Add GloVe similarity score to the dataframe
df['GloVe_sim_score'] = glove_similarity
df.sort_values(by ='GloVe_sim_score', ascending = False).head(15)

,job_title,location,connection,nlp_job_title,cleaned_job_title,tfidf_sim_score,tfidf_sim_score2,GloVe_sim_score
28,Junior MES Engineer| Information Systems,"Myrtle Beach, South Carolina Area",52,junior mes engineer| information systems,junior me engineer information system,0.328256,0.328256,0.658723
34,Information Systems Specialist and Programmer ...,"Gaithersburg, Maryland",4,information systems specialist programmer love...,information system specialist programmer love ...,0.000000,0.000000,0.648725
32,Human Resources professional for the world lea...,"Highland, California",50,human resources professional world leader gis ...,human resource professional world leader gi so...,0.335103,0.335942,0.569041
44,Student at Indiana University Kokomo - Busines...,"Lafayette, Indiana",19,student indiana university kokomo business man...,student indiana university kokomo business man...,0.000000,0.000000,0.528630
20,Business Management Major and Aspiring Human R...,"Monroe, Louisiana Area",5,business management major aspiring human resou...,business management major aspiring human resou...,0.000000,0.000000,0.525942
14,Experienced Retail Manager and aspiring Human ...,"Austin, Texas Area",57,experienced retail manager aspire human resour...,experienced retail manager aspiring human reso...,0.000000,0.000000,0.492002
48,Aspiring Human Resources Manager | Graduating ...,"Cape Girardeau, Missouri",103,aspiring human resources manager | graduate 20...,aspiring human resource manager graduating may...,0.000000,0.000000,0.474840
18,"Retired Army National Guard Recruiter, office ...","Virginia Beach, Virginia",82,retired army national guard recruiter office m...,retired army national guard recruiter office m...,0.000000,0.000000,0.465067
40,Seeking employment opportunities within Custom...,"Torrance, California",64,seek employment opportunity customer service p...,seeking employment opportunity within customer...,0.000000,0.000000,0.462334
36,Human Resources Management Major,"Milpitas, California",18,human resources management major,human resource management major,0.000000,0.000000,0.450756
24,Aspiring Human Resources Professional | Passio...,"New York, New York",212,aspiring human resources professional | passio...,aspiring human resource professional passionat...,0.000000,0.000000,0.448559
38,Undergraduate Research Assistant at Styczynski...,Greater Atlanta Area,155,undergraduate research assistant styczynski lab,undergraduate research assistant styczynski lab,0.000000,0.000000,0.445601
29,Senior Human Resources Business Partner at Hei...,"Chattanooga, Tennessee Area",455,senior human resources business partner heil e...,senior human resource business partner heil en...,0.000000,0.000000,0.435209
22,Human Resources Professional,Greater Boston Area,16,human resources professional,human resource professional,0.000000,0.000000,0.429767
12,Aspiring Human Resources Management student se...,"Houston, Texas Area",500+,aspiring human resources management student se...,aspiring human resource management student see...,0.000000,0.000000,0.429476

## Word2vec - This uses gensim model with Google News corpus

In [41]:
%%time
# Using a pre-trained word2vec model
w2v_model = KeyedVectors.load_word2vec_format('GoogleNews-vectors-negative300.bin.gz', binary = True)

CPU times: user 1min 37s, sys: 7.53 s, total: 1min 44s
Wall time: 1min 55s

In [42]:
# Vectorize job title using Word2Vec model
w2v_vectors = []
for i in range(0, len(df)):
    w2v_sentence_vector = []
    doc_token_vectors(df['cleaned_job_title'][i], w2v_model, w2v_sentence_vector, 300)
    w2v_vectors.append(w2v_sentence_vector)

In [43]:
# Vectorize search phrase using Word2Vec model
w2v_search_phrase = []
doc_token_vectors(lemmatized_phrase, w2v_model, w2v_search_phrase, 300)

[array([ 0.1328125 , -0.10986328, -0.19726562,  0.14941406, -0.11376953,
        -0.10058594,  0.22460938, -0.25585938, -0.00149536,  0.06591797,
        -0.06933594, -0.16796875,  0.06835938,  0.01599121, -0.140625  ,
         0.03015137,  0.20703125, -0.10302734,  0.13671875, -0.15136719,
        -0.20605469, -0.07421875, -0.17773438,  0.21191406, -0.00165558,
         0.04174805, -0.08642578,  0.02026367,  0.31835938,  0.03222656,
        -0.12890625,  0.07080078, -0.2890625 ,  0.21386719,  0.00830078,
        -0.0859375 , -0.10498047, -0.17871094, -0.11279297,  0.09228516,
         0.13574219, -0.11669922,  0.05761719,  0.01031494, -0.19433594,
         0.03613281, -0.01635742, -0.08105469, -0.02600098,  0.04589844,
         0.26953125,  0.06933594,  0.04418945,  0.13867188,  0.04638672,
        -0.03393555, -0.07666016, -0.11621094,  0.09765625, -0.10449219,
        -0.20703125,  0.02185059, -0.19335938, -0.20800781,  0.19726562,
        -0.00686646,  0.28125   ,  0.06445312,  0.02294922,  0.18066406,
         0.00473022,  0.10986328,  0.05981445,  0.359375  , -0.06176758,
         0.07470703,  0.18359375,  0.10498047, -0.05322266, -0.08349609,
        -0.11279297, -0.03588867, -0.06445312,  0.01049805,  0.03588867,
         0.03393555, -0.17675781, -0.00091171,  0.05639648, -0.0625    ,
         0.06347656, -0.03710938, -0.00083542, -0.04956055, -0.06298828,
         0.06542969, -0.02722168,  0.12597656, -0.02441406,  0.08886719,
         0.01745605, -0.07177734,  0.1328125 , -0.265625  , -0.18359375,
         0.14941406, -0.01470947,  0.12890625, -0.01422119, -0.16015625,
         0.14355469, -0.04443359, -0.16699219, -0.03271484, -0.07519531,
         0.07421875,  0.0480957 ,  0.1015625 ,  0.19628906,  0.24707031,
         0.00891113, -0.2890625 ,  0.07519531,  0.05493164,  0.11035156,
         0.09716797, -0.13183594, -0.17285156,  0.10351562,  0.1484375 ,
        -0.06152344,  0.10449219, -0.328125  , -0.01599121,  0.02697754,
        -0.10351562, -0.00074768,  0.10742188,  0.11230469,  0.00430298,
        -0.12597656, -0.14648438,  0.04785156, -0.25585938,  0.11230469,
        -0.06933594, -0.15917969, -0.00509644, -0.05249023,  0.12988281,
         0.1875    ,  0.10205078, -0.12890625,  0.04370117,  0.11230469,
         0.01806641,  0.00674438,  0.01721191, -0.11914062, -0.07373047,
         0.10839844, -0.02209473,  0.13378906, -0.03039551,  0.10595703,
        -0.21386719,  0.01544189,  0.07128906, -0.0546875 , -0.24511719,
        -0.16601562, -0.18457031, -0.01672363,  0.07128906, -0.0055542 ,
         0.06347656, -0.12695312, -0.05932617, -0.109375  , -0.15625   ,
        -0.24609375, -0.0324707 , -0.01312256, -0.04467773, -0.234375  ,
         0.02294922, -0.08398438, -0.21191406,  0.15917969,  0.10253906,
        -0.00454712,  0.0201416 , -0.18652344, -0.12109375,  0.13476562,
         0.0213623 , -0.01153564, -0.15820312,  0.0234375 ,  0.001091  ,
        -0.09472656,  0.16210938,  0.02050781,  0.16699219, -0.08251953,
         0.18457031, -0.05395508, -0.07910156,  0.125     ,  0.1640625 ,
         0.0559082 ,  0.08105469,  0.00601196,  0.15527344,  0.0456543 ,
        -0.02722168,  0.19628906, -0.13476562, -0.26757812, -0.15332031,
         0.09667969,  0.05297852, -0.05908203, -0.171875  ,  0.14453125,
         0.00994873, -0.11132812,  0.00683594,  0.12011719, -0.05566406,
         0.00482178, -0.18652344,  0.20019531,  0.13964844, -0.25976562,
        -0.01147461, -0.10986328, -0.02368164, -0.08203125,  0.13085938,
        -0.05224609, -0.04956055, -0.06347656, -0.26367188,  0.08007812,
        -0.05126953, -0.12792969,  0.078125  , -0.08544922, -0.01477051,
        -0.10302734,  0.05297852, -0.00212097, -0.09912109, -0.04321289,
        -0.10107422,  0.0133667 , -0.23828125, -0.34375   ,  0.1796875 ,
         0.14550781, -0.10009766, -0.17089844,  0.00274658,  0.05957031,
         0.03564453, -0.08837891,  0.07861328, -0.14746094, -0.07275391,
         0.04614258,  0.06884766,  0.13867188,  0.08349609,  0.13378906,
        -0.01855469, -0.04003906, -0.11425781, -0.03808594,  0.10644531,
        -0.02697754,  0.10009766, -0.10107422,  0.13574219,  0.13476562,
         0.04956055, -0.00042152,  0.08251953, -0.04394531, -0.07373047,
        -0.04516602,  0.0612793 , -0.1640625 , -0.03637695, -0.22363281,
        -0.06884766,  0.20410156,  0.01507568, -0.08740234, -0.24121094],
       dtype=float32),
 array([-4.08935547e-03,  5.73730469e-02, -3.24707031e-02, -7.56835938e-02,
         1.92382812e-01, -5.10253906e-02, -2.29492188e-02,  2.67578125e-01,
        -2.25830078e-02,  2.65625000e-01,  4.22363281e-02, -1.98242188e-01,
         8.39843750e-02,  4.12597656e-02, -3.61328125e-02, -4.95605469e-02,
         7.81250000e-02,  5.39550781e-02, -2.41699219e-02, -1.01074219e-01,
         1.45263672e-02,  2.72216797e-02, -2.83203125e-01,  3.16619873e-04,
         5.95703125e-02, -9.96093750e-02, -5.27343750e-02,  2.39257812e-01,
        -6.93359375e-02, -2.79296875e-01,  7.66601562e-02,  1.83593750e-01,
        -8.04901123e-04, -1.71875000e-01, -1.43554688e-01,  8.15429688e-02,
         2.59765625e-01,  1.41601562e-01,  5.61523438e-02, -2.33154297e-02,
         1.83593750e-01, -3.43750000e-01,  2.23632812e-01, -1.04003906e-01,
        -1.37695312e-01, -3.18359375e-01, -3.45703125e-01, -1.31988525e-03,
        -2.91442871e-03,  7.08007812e-02, -1.10351562e-01, -2.71484375e-01,
        -1.08398438e-01, -3.67187500e-01, -1.33789062e-01,  1.50390625e-01,
         1.19140625e-01, -1.46484375e-01,  8.88671875e-02,  1.58203125e-01,
         1.19140625e-01,  2.60009766e-02,  1.68457031e-02, -5.29785156e-02,
         1.36718750e-01, -2.15820312e-01, -1.05957031e-01,  5.68847656e-02,
        -9.39941406e-03,  3.24707031e-02,  2.59765625e-01, -1.56250000e-01,
         3.20312500e-01, -1.83593750e-01, -1.75781250e-01, -8.59375000e-02,
         1.52343750e-01,  2.05078125e-02,  7.22656250e-02, -3.38745117e-03,
         1.83105469e-02, -2.06054688e-01, -2.30468750e-01, -1.33789062e-01,
         4.39453125e-02,  8.10546875e-02,  8.44726562e-02,  1.06445312e-01,
        -3.85742188e-02,  6.83593750e-02, -5.85937500e-02,  2.35595703e-02,
        -2.05078125e-01,  2.94921875e-01, -4.44335938e-02, -1.06933594e-01,
        -8.25195312e-02, -1.14746094e-02, -5.56640625e-02, -6.49414062e-02,
        -7.61718750e-02, -1.61132812e-01,  3.75976562e-02, -2.12890625e-01,
        -1.22070312e-01, -6.93359375e-02, -1.01562500e-01,  1.11328125e-01,
        -3.90625000e-02,  1.21582031e-01,  1.30859375e-01, -3.10546875e-01,
         3.80859375e-02, -1.28906250e-01,  1.24511719e-02,  1.46484375e-01,
         4.49218750e-02,  2.04101562e-01,  6.56127930e-03,  1.16210938e-01,
        -1.78710938e-01,  2.96630859e-02,  6.83593750e-02,  1.08398438e-01,
         6.20117188e-02, -6.34765625e-02, -3.61328125e-02,  2.35351562e-01,
        -2.25585938e-01, -1.56250000e-01,  3.69140625e-01,  2.38281250e-01,
         1.37695312e-01, -8.83789062e-02,  1.76757812e-01,  1.50390625e-01,
        -6.10351562e-02,  8.44726562e-02,  2.90527344e-02,  1.49414062e-01,
         7.47070312e-02, -3.36914062e-02,  1.60156250e-01,  1.51367188e-01,
         1.96289062e-01,  1.03515625e-01,  9.58251953e-03, -4.00390625e-01,
         3.73535156e-02,  8.20312500e-02,  2.08984375e-01,  2.82287598e-03,
        -2.20947266e-02,  4.07714844e-02, -1.63085938e-01, -1.10839844e-01,
        -1.44531250e-01, -2.96875000e-01, -1.50390625e-01,  5.24902344e-02,
        -1.47460938e-01, -2.11914062e-01, -2.61718750e-01, -1.12304688e-01,
         4.02343750e-01, -1.99218750e-01,  2.43164062e-01, -1.01074219e-01,
        -3.78906250e-01, -2.58789062e-02, -3.45703125e-01, -1.41601562e-01,
         2.03857422e-02, -1.32812500e-01, -6.25000000e-02, -7.81250000e-02,
         1.19140625e-01, -1.83593750e-01,  1.34765625e-01,  2.94921875e-01,
        -7.51953125e-02, -5.56640625e-02, -1.39648438e-01, -7.69042969e-03,
         2.01171875e-01, -2.39257812e-01, -2.65625000e-01,  1.04980469e-01,
        -2.00195312e-01, -1.16699219e-01,  4.49218750e-01, -1.34765625e-01,
        -2.75878906e-02, -2.69531250e-01, -1.04492188e-01,  3.12500000e-01,
        -1.32812500e-01, -1.12304688e-01, -1.36718750e-01, -2.20947266e-02,
        -1.75781250e-01,  2.29492188e-01,  3.90625000e-02, -4.41894531e-02,
        -2.62451172e-02,  1.51367188e-01, -1.20849609e-02, -1.91406250e-01,
        -1.00708008e-02,  6.29882812e-02,  8.78906250e-02,  4.58984375e-02,
        -2.71484375e-01, -5.07812500e-02, -6.12792969e-02,  1.93359375e-01,
         1.20605469e-01,  2.10937500e-01, -3.00781250e-01, -5.88378906e-02,
        -1.79687500e-01,  9.30786133e-04, -1.11328125e-01, -1.61132812e-01,
        -2.42187500e-01, -2.89062500e-01, -2.22656250e-01, -7.71484375e-02,
         2.29492188e-01, -2.87109375e-01, -6.98242188e-02,  7.91015625e-02,
         1.09375000e-01, -2.01171875e-01, -6.29882812e-02, -1.52343750e-01,
        -1.80664062e-01,  1.27929688e-01,  5.44433594e-02, -8.15429688e-02,
        -1.50390625e-01,  5.73730469e-02, -1.48437500e-01, -1.30859375e-01,
        -3.78417969e-02, -3.27148438e-02,  3.03955078e-02,  7.11059570e-03,
         2.24304199e-03, -2.40478516e-02, -1.53320312e-01,  2.77099609e-02,
        -1.05468750e-01,  1.06445312e-01, -7.50732422e-03, -2.49023438e-01,
        -3.37890625e-01, -6.04248047e-03,  1.23291016e-02, -4.85839844e-02,
         1.89453125e-01,  1.05957031e-01, -4.19921875e-01, -3.98437500e-01,
        -6.12792969e-02,  2.00195312e-01,  1.80664062e-01,  8.98437500e-02,
        -7.95898438e-02, -1.70898438e-01,  1.69921875e-01,  8.54492188e-02,
        -1.63574219e-02,  1.81640625e-01, -2.47070312e-01,  1.32812500e-01,
        -1.54113770e-03, -3.18359375e-01, -1.37695312e-01, -1.38671875e-01,
         1.25976562e-01,  4.51660156e-02,  2.02148438e-01,  6.59179688e-02,
        -2.16064453e-02, -2.40234375e-01, -3.68652344e-02, -2.58789062e-02,
         1.75781250e-01,  9.96093750e-02, -8.74023438e-02,  9.81445312e-02,
        -8.05664062e-02,  1.47460938e-01, -6.39648438e-02, -1.19140625e-01,
         3.29589844e-02, -1.17187500e-02, -2.50000000e-01,  1.14746094e-01],
       dtype=float32),
 array([ 0.20410156, -0.30078125, -0.01391602,  0.11914062, -0.21875   ,
         0.08740234,  0.02490234,  0.296875  ,  0.10253906,  0.03588867,
        -0.03540039, -0.15527344, -0.00390625, -0.14941406,  0.05224609,
         0.04736328,  0.18066406,  0.05810547, -0.1640625 , -0.15136719,
        -0.03808594,  0.16308594, -0.09814453,  0.11035156, -0.02319336,
         0.07958984,  0.10986328,  0.11425781, -0.01025391, -0.24609375,
        -0.08300781, -0.1171875 , -0.11279297, -0.16894531, -0.0067749 ,
        -0.16601562, -0.15039062, -0.08007812,  0.25      ,  0.0098877 ,
         0.04125977,  0.12695312,  0.21777344,  0.05297852, -0.10839844,
         0.0378418 , -0.26171875, -0.21289062, -0.04248047,  0.22949219,
         0.06640625, -0.09716797, -0.01391602, -0.33007812, -0.10986328,
         0.18457031,  0.14257812, -0.1875    ,  0.12402344,  0.06225586,
         0.13085938, -0.01116943, -0.06591797,  0.00059891, -0.34570312,
         0.16015625, -0.13867188,  0.01647949, -0.08203125, -0.03198242,
        -0.05053711,  0.03515625, -0.1328125 ,  0.04174805,  0.08642578,
        -0.04858398,  0.09521484, -0.08837891,  0.03759766, -0.1015625 ,
         0.13769531,  0.04248047, -0.14746094,  0.07324219,  0.09472656,
        -0.296875  ,  0.17480469,  0.22949219, -0.06201172,  0.171875  ,
         0.01733398, -0.13183594, -0.18164062, -0.11523438, -0.10058594,
        -0.23046875, -0.03063965, -0.0612793 ,  0.25976562, -0.06298828,
         0.07666016, -0.06079102, -0.10400391,  0.0168457 , -0.05419922,
         0.37109375, -0.18652344,  0.32226562,  0.3046875 , -0.06005859,
        -0.10449219,  0.01074219, -0.22070312, -0.03564453,  0.08007812,
         0.1015625 , -0.08837891, -0.11669922,  0.37695312, -0.16015625,
        -0.36523438,  0.16503906, -0.19042969, -0.07861328,  0.20800781,
        -0.00958252, -0.26171875,  0.0291748 ,  0.18066406, -0.13574219,
        -0.02490234,  0.04736328, -0.04418945, -0.10693359, -0.05664062,
         0.04858398,  0.1953125 ,  0.13964844, -0.2734375 ,  0.0090332 ,
        -0.03491211, -0.25390625,  0.02368164,  0.18847656, -0.14257812,
        -0.09570312,  0.33203125,  0.06347656, -0.140625  , -0.11816406,
         0.00897217, -0.07666016, -0.08984375,  0.12402344, -0.09130859,
        -0.11279297, -0.17285156,  0.09960938, -0.265625  , -0.0456543 ,
        -0.02856445,  0.01324463, -0.265625  , -0.00367737,  0.109375  ,
        -0.04663086, -0.03198242, -0.07568359, -0.28515625, -0.03222656,
         0.00738525, -0.08740234,  0.02270508, -0.06445312,  0.04833984,
        -0.14160156,  0.296875  , -0.03613281, -0.25976562, -0.21972656,
        -0.23632812, -0.13867188, -0.0625    , -0.20019531, -0.01635742,
         0.13574219, -0.08935547,  0.234375  ,  0.04125977, -0.25195312,
        -0.26953125,  0.01379395, -0.28125   , -0.04516602, -0.26171875,
         0.05688477, -0.04541016, -0.10742188, -0.19238281, -0.27148438,
        -0.16210938, -0.06835938,  0.10693359,  0.15820312, -0.12304688,
        -0.04858398,  0.16015625, -0.04589844, -0.00390625, -0.41015625,
         0.0057373 ,  0.20117188,  0.00958252,  0.171875  , -0.13964844,
         0.04492188, -0.06640625,  0.12255859, -0.22558594, -0.21289062,
        -0.06982422, -0.25585938,  0.12158203, -0.04736328, -0.24414062,
        -0.0456543 , -0.19140625, -0.20019531,  0.16601562, -0.01599121,
        -0.06347656, -0.11083984, -0.17675781, -0.36523438, -0.30078125,
        -0.04199219, -0.03686523, -0.26757812,  0.08935547,  0.0480957 ,
         0.11376953, -0.09521484, -0.08544922,  0.07763672,  0.05078125,
        -0.34765625, -0.01696777,  0.12890625,  0.13769531, -0.17675781,
        -0.21679688,  0.02905273, -0.12011719,  0.04638672, -0.10888672,
         0.01867676, -0.12890625, -0.00497437, -0.14355469,  0.09082031,
         0.03564453,  0.02978516,  0.15332031, -0.07568359, -0.12597656,
        -0.01275635, -0.18457031,  0.0291748 , -0.31640625, -0.0546875 ,
         0.05981445, -0.10595703, -0.25195312, -0.05737305,  0.10205078,
        -0.02160645,  0.01330566, -0.01708984,  0.04492188, -0.0246582 ,
        -0.27929688,  0.12353516, -0.01324463,  0.24316406,  0.06689453,
        -0.16308594,  0.09863281,  0.06640625,  0.04248047,  0.28515625,
        -0.13867188,  0.14648438, -0.03515625, -0.01477051,  0.21484375,
         0.05981445,  0.10253906, -0.0144043 , -0.03735352,  0.10742188],
       dtype=float32),
 array([-0.02490234, -0.04150391, -0.01135254, -0.19238281, -0.11376953,
         0.36523438, -0.1640625 , -0.21972656, -0.02233887, -0.08251953,
        -0.10595703, -0.16308594, -0.10839844, -0.29882812, -0.22460938,
         0.14550781,  0.02099609, -0.296875  ,  0.02392578, -0.04711914,
        -0.2578125 ,  0.28710938, -0.18652344,  0.00439453,  0.38476562,
        -0.14453125, -0.02661133, -0.012146  , -0.34375   , -0.19824219,
         0.109375  ,  0.0559082 , -0.16503906,  0.1484375 ,  0.21289062,
        -0.21875   ,  0.30078125,  0.359375  ,  0.06225586, -0.125     ,
        -0.04077148, -0.10986328,  0.29882812,  0.04345703, -0.09814453,
        -0.24023438, -0.32617188,  0.23828125,  0.01977539,  0.08447266,
        -0.22363281,  0.03271484,  0.14160156, -0.09228516,  0.13671875,
         0.01843262,  0.18945312, -0.2578125 ,  0.00218201, -0.1875    ,
         0.13769531, -0.14257812, -0.30664062,  0.0324707 , -0.20214844,
         0.11914062, -0.01757812,  0.328125  ,  0.0013504 ,  0.06884766,
        -0.13867188, -0.14941406,  0.01019287, -0.19238281, -0.19335938,
         0.27148438,  0.04760742, -0.04150391, -0.31835938,  0.03930664,
         0.265625  ,  0.27148438, -0.18554688,  0.16699219,  0.06445312,
         0.11523438,  0.05322266,  0.07324219, -0.20410156,  0.2265625 ,
         0.15136719, -0.00793457, -0.51171875,  0.31835938,  0.00952148,
         0.20117188, -0.23632812, -0.09423828,  0.14453125,  0.21875   ,
        -0.12304688, -0.20019531, -0.12890625,  0.06689453,  0.10009766,
        -0.12011719, -0.16796875,  0.21484375, -0.0324707 ,  0.16210938,
         0.01135254, -0.2578125 , -0.02856445, -0.2890625 , -0.04296875,
        -0.00994873, -0.26757812,  0.28125   ,  0.32421875,  0.15429688,
         0.06835938,  0.13769531, -0.36914062, -0.23046875,  0.00518799,
         0.12988281, -0.05712891, -0.47265625,  0.33984375,  0.22851562,
         0.07470703, -0.02929688, -0.10253906, -0.07910156,  0.13574219,
        -0.01818848, -0.27148438,  0.19628906, -0.26757812,  0.44140625,
        -0.0234375 ,  0.09863281, -0.17480469,  0.26171875, -0.296875  ,
         0.05053711, -0.25      , -0.06445312, -0.15332031,  0.05004883,
         0.05712891, -0.01202393, -0.11425781,  0.26171875, -0.34765625,
         0.10449219, -0.07763672,  0.34765625, -0.04931641, -0.34960938,
        -0.03833008,  0.11474609, -0.01428223,  0.22460938,  0.39257812,
         0.07958984,  0.19433594, -0.02416992,  0.37109375, -0.08154297,
         0.24316406,  0.19042969, -0.20117188, -0.15625   ,  0.2890625 ,
        -0.01635742, -0.01013184, -0.08251953, -0.22558594,  0.03540039,
         0.00921631, -0.10742188, -0.11328125, -0.07373047,  0.25390625,
         0.05444336, -0.03833008, -0.18261719, -0.09179688, -0.02990723,
        -0.10498047,  0.296875  , -0.04003906,  0.0201416 , -0.01049805,
         0.04760742, -0.03039551,  0.18066406, -0.43554688,  0.08984375,
        -0.24902344,  0.296875  ,  0.04760742,  0.09814453, -0.012146  ,
         0.06494141, -0.08056641, -0.3125    , -0.03588867, -0.11035156,
        -0.13867188, -0.203125  ,  0.12792969,  0.0067749 ,  0.10693359,
         0.16015625, -0.1796875 , -0.17675781,  0.10742188, -0.13574219,
         0.12695312, -0.390625  ,  0.09814453,  0.04907227,  0.02392578,
        -0.19042969, -0.01843262,  0.02868652, -0.20703125,  0.08203125,
         0.125     , -0.2421875 , -0.35351562, -0.390625  , -0.16992188,
        -0.22363281,  0.2421875 , -0.43359375,  0.08886719,  0.15527344,
        -0.140625  , -0.12451172, -0.47265625,  0.09570312,  0.046875  ,
        -0.18164062, -0.6015625 , -0.28710938,  0.11132812, -0.21191406,
        -0.18652344, -0.12597656, -0.203125  ,  0.09326172,  0.11621094,
         0.01470947, -0.13085938, -0.06494141, -0.15625   , -0.234375  ,
        -0.18652344, -0.17578125,  0.3125    , -0.16015625,  0.05761719,
         0.26953125, -0.23144531, -0.08789062, -0.1484375 ,  0.14648438,
        -0.07128906, -0.6015625 ,  0.10449219,  0.0456543 , -0.19042969,
         0.01171875, -0.16992188, -0.03088379, -0.0456543 , -0.46875   ,
         0.13964844,  0.08642578, -0.1328125 ,  0.26171875,  0.03295898,
         0.16210938,  0.14648438, -0.11425781,  0.26757812,  0.08007812,
        -0.13085938,  0.04711914, -0.20410156,  0.11962891, -0.01623535,
        -0.1796875 , -0.17675781, -0.28320312,  0.12011719, -0.03320312],
       dtype=float32)]

In [44]:
# Cosine Similarity score for Word2Vec model
w2v_similarity_score = []
for i in range(0, len(df)):
    sim_score = cosine_similarity(np.mean(w2v_search_phrase, axis = 0), 
                                  np.mean(w2v_vectors[i], axis = 0))
    w2v_similarity_score.append(sim_score)

# Add Word2Vec similarity score
df['Word2Vec_sim_score'] = w2v_similarity_score
df['mean_sim_score'] = df.loc[:, 'tfidf_sim_score': 'Word2Vec_sim_score'].mean(axis=1)
df.sort_values(by = 'mean_sim_score', ascending = False).head()

,job_title,location,connection,nlp_job_title,cleaned_job_title,tfidf_sim_score,tfidf_sim_score2,GloVe_sim_score,Word2Vec_sim_score,mean_sim_score
28,Junior MES Engineer| Information Systems,"Myrtle Beach, South Carolina Area",52,junior mes engineer| information systems,junior me engineer information system,0.328256,0.328256,0.658723,0.596684,0.477980
32,Human Resources professional for the world lea...,"Highland, California",50,human resources professional world leader gis ...,human resource professional world leader gi so...,0.335103,0.335942,0.569041,0.393964,0.408512
34,Information Systems Specialist and Programmer ...,"Gaithersburg, Maryland",4,information systems specialist programmer love...,information system specialist programmer love ...,0.000000,0.000000,0.648725,0.495401,0.286032
44,Student at Indiana University Kokomo - Busines...,"Lafayette, Indiana",19,student indiana university kokomo business man...,student indiana university kokomo business man...,0.000000,0.000000,0.528630,0.439216,0.241961
20,Business Management Major and Aspiring Human R...,"Monroe, Louisiana Area",5,business management major aspiring human resou...,business management major aspiring human resou...,0.000000,0.000000,0.525942,0.368448,0.223597

## Use fasttext pre-trained model, but implement with word2vec to get Keyed Vectors

In [45]:
%%time
# Using a pre-trained fasttext model with word2vec 
fasttext_model = KeyedVectors.load_word2vec_format("wiki-news-300d-1M.vec", binary = False)

CPU times: user 6min 43s, sys: 9.05 s, total: 6min 52s
Wall time: 7min 8s

In [46]:
# Vectorize job title using Word2Vec model on fasttext pre-trained data
fasttext_vectors = []
for i in range(0, len(df)):
    fasttext_sentence_vector = []
    doc_token_vectors(df['cleaned_job_title'][i], fasttext_model, fasttext_sentence_vector, 300)
    fasttext_vectors.append(fasttext_sentence_vector)

In [47]:
# Vectorize search phrase using Word2Vec model on fasttext pre-trained data
fasttext_search_phrase = []
doc_token_vectors(lemmatized_phrase, fasttext_model, fasttext_search_phrase, 300)

[array([-1.023e-01, -9.040e-02, -2.010e-02,  8.100e-03,  1.229e-01,
         3.180e-02,  7.600e-03,  6.300e-02,  2.240e-02,  3.910e-02,
         6.500e-03, -2.460e-02, -5.220e-02, -1.588e-01,  4.300e-03,
        -4.820e-02, -3.630e-02, -3.550e-02, -1.462e-01, -7.260e-02,
         5.020e-02, -7.490e-02,  6.020e-02, -3.100e-03,  1.900e-02,
        -8.900e-03,  7.800e-02, -2.660e-02, -8.500e-03,  1.298e-01,
        -3.200e-03, -1.440e-02,  1.338e-01, -4.020e-02,  4.740e-02,
         4.560e-02,  3.080e-02,  6.510e-02,  5.200e-03,  6.220e-02,
         6.500e-03, -5.220e-02, -6.320e-02, -1.305e-01,  2.800e-02,
        -1.018e-01,  1.680e-02, -3.390e-02, -7.280e-02,  6.100e-03,
         8.000e-04,  1.682e-01, -6.259e-01,  5.160e-02,  1.180e-02,
        -9.750e-02, -1.470e-02,  5.700e-03, -6.120e-02, -9.100e-03,
        -4.810e-02,  1.191e-01, -2.400e-03, -3.410e-02, -3.360e-02,
         1.750e-02,  5.480e-02,  3.440e-02, -1.400e-02, -1.700e-03,
        -1.510e-02,  2.540e-02, -1.400e-02,  1.189e-01,  4.000e-03,
        -4.800e-02, -8.220e-02,  2.510e-02, -2.040e-02, -8.200e-02,
         3.690e-02, -9.670e-02,  4.790e-02, -1.832e-01,  5.560e-02,
         1.430e-02,  1.690e-02, -2.910e-02,  1.395e-01,  1.280e-02,
         1.254e-01, -5.200e-03,  1.810e-02, -6.300e-02, -4.820e-02,
         4.490e-02,  1.890e-02, -8.610e-02,  1.560e-02, -9.700e-03,
        -2.000e-01, -1.265e-01,  2.190e-02, -7.100e-03, -1.481e-01,
         2.670e-02,  3.133e-01, -7.780e-02,  4.500e-02, -1.102e-01,
         3.200e-03, -7.500e-02,  7.750e-02, -5.540e-02,  7.570e-02,
         8.850e-02, -1.160e-02,  5.510e-02, -3.030e-02, -2.172e-01,
        -6.930e-02,  4.630e-02,  1.790e-01,  1.372e-01, -2.614e-01,
         2.308e-01, -1.700e-02,  1.437e-01, -2.710e-02,  3.600e-02,
        -5.620e-02, -6.240e-02,  1.317e-01, -1.409e-01,  7.580e-02,
        -4.819e-01, -2.020e-02, -2.300e-02, -9.340e-02, -2.300e-02,
        -4.020e-02,  4.800e-03, -2.110e-02,  2.570e-01, -1.130e-01,
        -9.750e-02,  7.150e-02,  1.038e-01, -1.300e-03, -2.640e-02,
         5.760e-02,  1.110e-02, -4.270e-02, -1.100e-02, -1.019e-01,
         1.830e-02, -6.370e-02, -1.150e-02,  1.480e-02,  3.990e-02,
        -1.050e-02, -4.040e-02,  4.050e-02,  3.550e-02, -3.980e-02,
        -8.700e-03,  4.160e-02, -3.200e-03, -1.400e-02, -1.458e-01,
         1.509e-01,  3.940e-02, -3.550e-02,  6.140e-02,  9.990e-02,
         9.110e-02,  2.885e-01,  1.068e-01, -4.970e-02,  1.940e-02,
         1.065e-01,  5.190e-02, -1.430e-02, -3.880e-02, -1.340e-02,
        -1.007e-01,  5.110e-02, -1.661e-01,  1.301e-01, -4.200e-02,
        -1.540e-02, -7.350e-02,  4.520e-02, -1.000e-04,  7.910e-02,
        -2.040e-02, -1.324e-01, -4.220e-02,  1.714e-01,  3.230e-02,
        -1.149e-01,  1.144e-01,  1.106e-01, -9.000e-03,  5.390e-02,
         8.500e-03,  1.000e-04, -1.943e-01, -6.050e-02,  3.510e-02,
         1.874e-01, -5.000e-03,  6.530e-02,  4.950e-02,  5.200e-03,
        -1.107e-01,  6.220e-02, -1.810e-02, -6.000e-02,  1.492e-01,
        -2.000e-02,  4.730e-02,  6.630e-02,  6.590e-02, -7.380e-02,
        -1.026e-01,  5.380e-02, -1.800e-03,  9.360e-02, -1.222e-01,
         1.167e-01, -3.240e-02,  2.959e-01, -6.800e-03,  3.290e-02,
        -1.548e-01, -6.700e-03, -5.230e-02, -2.340e-01, -9.400e-03,
         2.690e-02, -6.720e-02,  7.000e-03, -1.900e-02, -1.470e-02,
        -7.190e-02,  4.800e-03,  2.030e-02, -8.740e-02,  3.869e-01,
         1.100e-03,  8.050e-02, -9.520e-02,  4.000e-02, -6.990e-02,
         6.590e-02, -5.740e-02,  3.500e-03, -1.590e-02, -3.680e-02,
        -7.910e-02,  2.360e-02, -5.400e-03, -2.140e-02,  5.550e-02,
         7.600e-03, -4.700e-03, -3.860e-02, -1.908e-01, -2.620e-02,
        -2.510e-02, -1.421e-01,  6.700e-02, -6.830e-02, -9.000e-04,
         4.650e-02,  1.228e-01,  9.140e-02,  2.570e-02,  2.550e-02,
        -1.525e-01, -4.580e-02,  2.830e-02, -1.120e-02, -1.559e-01,
         4.710e-02,  5.420e-02,  1.345e-01, -4.480e-02, -4.040e-02,
        -6.930e-02,  4.630e-02, -4.780e-02,  5.880e-02,  1.460e-02,
        -5.090e-02,  3.800e-02,  2.080e-01,  1.243e-01,  1.170e-02],
       dtype=float32),
 array([-1.380e-01, -4.500e-02,  7.330e-02,  1.413e-01, -3.480e-02,
        -1.355e-01, -7.190e-02, -4.500e-02, -8.610e-02, -2.110e-02,
        -3.110e-02, -1.059e-01,  5.000e-03, -6.360e-02,  1.220e-01,
         2.129e-01, -2.174e-01,  6.090e-02, -1.983e-01,  6.310e-02,
        -1.860e-01, -1.397e-01,  1.996e-01, -2.870e-02, -4.000e-04,
        -6.920e-02,  3.840e-02,  2.230e-02, -4.490e-02, -1.248e-01,
         1.390e-02,  2.280e-02,  1.298e-01,  1.904e-01,  1.375e-01,
        -1.640e-01, -9.100e-03, -2.100e-03, -3.010e-02,  3.680e-02,
         1.316e-01, -1.299e-01, -6.790e-02,  1.363e-01, -1.830e-02,
        -3.504e-01, -2.305e-01,  4.880e-02,  1.146e-01,  1.756e-01,
         1.228e-01,  3.800e-02, -7.263e-01, -3.210e-02,  1.649e-01,
        -4.180e-02,  1.980e-02, -1.260e-02, -6.820e-02,  9.030e-02,
         1.620e-02,  7.500e-03,  9.070e-02,  5.180e-02,  7.420e-02,
        -9.870e-02,  7.920e-02,  2.700e-02,  2.036e-01, -1.123e-01,
         1.154e-01,  1.265e-01,  1.130e-02,  1.598e-01,  2.830e-02,
        -1.539e-01,  1.110e-02, -1.215e-01, -1.587e-01, -1.259e-01,
         2.580e-02,  7.700e-02,  8.080e-02, -2.214e-01, -2.400e-02,
         1.566e-01,  1.872e-01,  2.560e-02,  1.268e-01,  4.980e-02,
         4.270e-02,  4.180e-02, -8.940e-02, -1.124e-01, -2.000e-04,
         1.811e-01, -1.029e-01, -2.358e-01, -6.290e-02, -2.847e-01,
        -1.948e-01,  3.110e-02, -1.264e-01, -4.750e-02,  8.350e-02,
         1.590e-02, -2.180e-02, -3.180e-02,  7.110e-02,  1.315e-01,
        -1.845e-01, -4.260e-02,  1.199e-01, -1.403e-01,  2.710e-02,
         1.044e-01, -2.970e-02,  9.600e-03,  7.120e-02, -3.096e-01,
         1.600e-01,  6.070e-02,  5.030e-02,  6.000e-02,  5.200e-03,
         1.973e-01,  1.840e-02, -1.092e-01, -1.373e-01, -8.170e-02,
         1.872e-01,  9.890e-02, -2.200e-03,  1.505e-01, -3.200e-02,
         7.980e-02,  2.019e-01, -3.560e-02, -1.810e-02,  1.653e-01,
        -4.510e-02,  3.290e-02,  1.539e-01,  1.471e-01,  4.500e-02,
        -2.380e-02, -1.870e-02,  4.950e-02,  1.415e-01,  1.040e-02,
        -5.340e-02, -8.890e-02,  1.023e-01, -1.380e-01, -5.540e-02,
         1.837e-01, -1.579e-01,  3.058e-01,  2.320e-02, -2.000e-03,
         1.678e-01, -9.160e-02, -1.918e-01, -6.020e-02, -1.067e-01,
         2.010e-02,  5.330e-02, -1.540e-02, -1.900e-02,  2.320e-02,
         1.230e-02,  2.787e-01, -1.139e-01, -1.842e-01,  1.380e-01,
        -1.875e-01,  2.868e-01, -9.920e-02, -3.300e-03,  9.900e-02,
         1.765e-01, -3.230e-02, -6.280e-02, -2.720e-02,  1.079e-01,
        -1.884e-01, -1.171e-01, -1.032e-01, -2.080e-02, -8.850e-02,
        -8.540e-02,  2.483e-01,  5.160e-02,  3.040e-02, -8.460e-02,
        -1.670e-02,  1.890e-01, -7.000e-03,  6.680e-02, -8.700e-03,
         5.880e-02, -3.390e-02, -1.034e-01,  1.266e-01,  3.890e-02,
        -4.560e-02,  1.870e-02, -6.370e-02, -1.040e-02, -7.420e-02,
        -2.390e-02,  1.600e-02,  6.160e-02,  1.095e-01, -2.734e-01,
         2.840e-02, -2.260e-02,  8.760e-02,  3.180e-02, -7.180e-02,
         9.170e-02, -1.570e-01,  4.660e-02, -1.900e-01, -1.031e-01,
        -1.442e-01, -2.460e-02,  1.710e-02, -2.510e-02, -3.100e-03,
        -8.500e-03,  2.990e-02,  2.529e-01, -7.490e-02, -1.735e-01,
        -6.780e-02,  7.730e-02, -1.510e-02, -2.239e-01, -1.160e-02,
        -2.060e-01, -2.327e-01,  1.179e-01, -9.600e-03, -1.513e-01,
         2.660e-02,  1.738e-01,  4.910e-02, -4.110e-02,  3.442e-01,
         7.340e-02, -7.770e-02, -1.026e-01, -8.290e-02, -5.240e-02,
        -9.760e-02, -5.110e-02, -2.202e-01, -4.850e-02, -4.960e-02,
         1.660e-02,  5.530e-02, -1.760e-02,  1.270e-02, -1.306e-01,
        -1.143e-01,  8.360e-02, -2.106e-01, -9.800e-02, -1.325e-01,
         1.060e-01,  3.130e-02, -1.990e-02,  7.010e-02,  1.170e-01,
         7.190e-02,  3.990e-02,  6.390e-02, -1.038e-01,  1.824e-01,
         9.180e-02, -6.640e-02,  1.419e-01,  1.589e-01,  8.000e-03,
         1.759e-01,  8.950e-02, -2.910e-02, -9.330e-02, -1.200e-03,
        -8.680e-02,  1.143e-01,  8.210e-02,  5.180e-02, -1.287e-01,
         1.054e-01,  8.530e-02,  1.444e-01,  0.000e+00, -5.340e-02],
       dtype=float32),
 array([-0.0589, -0.0638, -0.0683, -0.0383, -0.0431, -0.0616, -0.2053,
        -0.003 , -0.0926, -0.025 ,  0.0047, -0.137 , -0.06  ,  0.0124,
        -0.0364, -0.0437, -0.1767, -0.0771, -0.1536,  0.0496, -0.3124,
         0.0535,  0.0875,  0.1981,  0.0239,  0.019 , -0.0153, -0.0954,
        -0.1786, -0.0042,  0.0817,  0.1675,  0.0398, -0.0547, -0.2072,
         0.0293,  0.1376,  0.0651, -0.0786, -0.0047, -0.0963, -0.0118,
         0.0902,  0.0385, -0.0586,  0.0457, -0.1229,  0.0618,  0.0791,
        -0.0505,  0.1048, -0.1236, -0.6823,  0.1734, -0.0894, -0.0197,
        -0.0711, -0.1145, -0.1011,  0.0486,  0.0404,  0.0218,  0.0194,
        -0.0497, -0.1122, -0.0646,  0.0379,  0.0063, -0.0167, -0.1313,
        -0.0748,  0.124 , -0.1182, -0.0257, -0.0272, -0.1235, -0.0432,
        -0.0386,  0.096 ,  0.0743, -0.0195, -0.1208, -0.0093, -0.2865,
        -0.2152,  0.0091,  0.1603, -0.0009,  0.2062, -0.0075, -0.266 ,
        -0.0397, -0.0578, -0.06  ,  0.1497,  0.017 , -0.0077, -0.1176,
         0.1726, -0.0671, -0.1682,  0.0124,  0.1938, -0.0354,  0.0982,
        -0.2102, -0.1929, -0.0073, -0.0021,  0.1745, -0.1419,  0.0438,
         0.0907, -0.0764, -0.148 , -0.0394,  0.0394,  0.0714, -0.0817,
        -0.3047,  0.1571,  0.0471, -0.047 ,  0.0316,  0.0472,  0.1924,
        -0.0143, -0.0781, -0.0213, -0.0424,  0.1076, -0.0387, -0.07  ,
         0.12  , -0.0606,  0.0329,  0.0435,  0.0135,  0.0226,  0.129 ,
         0.0825,  0.0473, -0.1645,  0.193 ,  0.0701, -0.1168,  0.0412,
         0.0822, -0.1079, -0.1263, -0.1958,  0.006 , -0.0733,  0.1917,
         0.1396, -0.1131, -0.1462, -0.0438,  0.0036,  0.0604, -0.0487,
         0.1072,  0.0369, -0.0124,  0.0786,  0.031 ,  0.0858, -0.1047,
        -0.0513,  0.0071, -0.1114, -0.1579, -0.1052, -0.0244, -0.0422,
        -0.053 ,  0.302 , -0.1382, -0.0019, -0.0029, -0.1274, -0.0695,
         0.046 , -0.135 ,  0.0709,  0.0147, -0.0211,  0.0141, -0.2012,
        -0.0257,  0.0935,  0.1714,  0.1402,  0.1106,  0.1216,  0.0154,
         0.0652,  0.1715,  0.0917, -0.0784, -0.11  , -0.0607, -0.1338,
        -0.0914,  0.0343,  0.0505, -0.0553, -0.0208,  0.0614,  0.0486,
        -0.0286,  0.0428, -0.0011,  0.1046,  0.0253, -0.0032, -0.0562,
        -0.0178, -0.0992, -0.0604,  0.0612,  0.033 ,  0.0758, -0.1579,
        -0.048 , -0.2357, -0.0521, -0.0648,  0.0834, -0.0994,  0.0141,
        -0.0139,  0.3933,  0.0446,  0.0286, -0.1029,  0.0212, -0.0051,
        -0.2279,  0.0548, -0.0638, -0.1076, -0.0743,  0.0393,  0.0249,
         0.0891, -0.0428,  0.0825,  0.0427,  0.3629, -0.0438, -0.1604,
        -0.2618, -0.0486, -0.0175,  0.0612,  0.0082,  0.2362, -0.0862,
         0.1152, -0.0418, -0.0687, -0.0101,  0.1799, -0.4058,  0.0312,
        -0.0941, -0.0525, -0.1243,  0.1206, -0.1377,  0.0326,  0.0024,
        -0.2712, -0.0578,  0.088 , -0.0643,  0.0869,  0.0305, -0.0608,
        -0.0017, -0.0438,  0.0779,  0.092 ,  0.0065, -0.1133,  0.0854,
         0.0697,  0.0294,  0.16  ,  0.1034, -0.0242,  0.0363,  0.0951,
        -0.1731,  0.1005,  0.017 ,  0.0269,  0.0393,  0.0136],
       dtype=float32),
 array([-3.240e-02,  1.593e-01,  5.060e-02, -3.170e-02,  1.563e-01,
         1.720e-02, -1.371e-01, -1.345e-01, -1.020e-01, -6.500e-02,
        -6.690e-02, -5.900e-03,  1.745e-01, -2.762e-01, -1.629e-01,
        -1.200e-03,  6.300e-02, -7.690e-02, -6.680e-02,  4.240e-02,
        -1.468e-01,  2.295e-01,  1.084e-01,  2.137e-01,  2.792e-01,
        -3.900e-03,  1.250e-02, -5.030e-02, -8.400e-03, -3.776e-01,
         1.861e-01,  2.590e-02, -4.350e-02,  1.102e-01, -5.480e-02,
         5.760e-02, -1.023e-01, -2.140e-02, -1.284e-01,  2.500e-03,
        -1.740e-02, -9.330e-02,  2.800e-03, -1.180e-02, -7.500e-03,
         1.520e-02, -5.990e-02,  1.251e-01, -6.160e-02, -4.830e-02,
         3.530e-02,  2.200e-03, -6.130e-01,  1.711e-01,  3.800e-02,
         1.250e-02, -1.260e-02,  7.900e-03,  6.910e-02,  2.170e-02,
        -7.680e-02, -1.235e-01,  6.230e-02, -2.860e-02, -1.531e-01,
        -5.200e-03, -1.352e-01,  9.580e-02,  1.294e-01, -1.072e-01,
        -2.000e-04,  1.433e-01,  3.310e-02,  1.022e-01,  6.620e-02,
         1.051e-01, -1.300e-02,  5.170e-02, -1.630e-02,  1.845e-01,
         2.490e-02, -3.170e-02, -3.400e-02, -2.858e-01,  6.530e-02,
         9.860e-02,  7.630e-02, -2.800e-02,  1.896e-01,  5.600e-02,
         6.800e-03,  9.530e-02, -6.600e-02, -4.470e-02, -4.670e-02,
        -6.000e-04,  1.385e-01, -1.787e-01,  8.520e-02, -2.440e-02,
        -1.667e-01, -1.269e-01, -8.890e-02,  1.450e-02, -1.267e-01,
         8.150e-02, -1.428e-01, -2.000e-02, -1.059e-01,  9.480e-02,
        -2.295e-01,  5.700e-02, -3.210e-02,  1.584e-01, -1.133e-01,
        -1.837e-01,  2.773e-01, -6.590e-02, -9.100e-03, -3.980e-01,
         1.583e-01, -6.440e-02, -1.044e-01, -3.450e-02,  6.670e-02,
         1.885e-01,  1.068e-01,  2.770e-02,  2.584e-01, -7.040e-02,
         5.870e-02,  5.180e-02,  6.170e-02,  2.910e-02,  1.130e-02,
         1.155e-01,  7.630e-02,  4.070e-02, -1.045e-01,  1.645e-01,
        -3.000e-04,  7.120e-02, -2.360e-02,  2.196e-01,  1.242e-01,
        -1.983e-01, -9.730e-02, -1.870e-02, -3.040e-02,  1.000e-02,
        -1.386e-01,  6.400e-02, -1.154e-01,  1.828e-01,  1.253e-01,
        -1.900e-03, -7.850e-02,  9.180e-02, -4.780e-02,  1.656e-01,
         2.850e-02,  4.700e-02,  4.060e-02,  3.600e-02, -2.730e-02,
         1.870e-01, -1.390e-02, -7.990e-02,  1.562e-01,  1.258e-01,
         6.610e-02,  1.900e-03, -2.540e-02, -5.650e-02, -4.790e-02,
         6.790e-02,  2.743e-01,  8.500e-02,  2.200e-03,  8.230e-02,
         4.380e-02,  2.100e-02,  8.470e-02, -2.234e-01,  9.920e-02,
        -1.407e-01,  5.920e-02,  1.826e-01, -6.700e-02, -1.890e-02,
        -1.310e-02, -6.500e-03,  5.180e-02, -1.112e-01,  5.100e-02,
        -2.330e-02,  1.200e-01,  2.287e-01,  9.720e-02, -1.565e-01,
        -1.731e-01, -1.417e-01, -1.177e-01, -5.000e-03,  2.410e-02,
        -3.200e-03,  8.070e-02, -2.496e-01, -3.090e-02, -5.160e-02,
         1.252e-01,  1.107e-01, -7.450e-02,  6.990e-02,  8.640e-02,
         4.590e-02,  8.030e-02,  7.900e-02, -1.800e-02, -1.780e-02,
         1.380e-02,  9.270e-02, -4.400e-02,  1.225e-01, -2.426e-01,
        -8.110e-02,  6.300e-03, -1.840e-02,  9.000e-03, -3.990e-02,
        -2.614e-01, -1.550e-02,  3.775e-01, -6.460e-02,  7.330e-02,
        -1.462e-01, -1.242e-01,  8.920e-02, -2.853e-01, -9.280e-02,
        -1.845e-01,  6.440e-02, -9.080e-02, -3.280e-02, -1.996e-01,
         7.700e-03, -2.350e-02,  4.950e-02,  7.090e-02,  3.655e-01,
         1.916e-01, -2.670e-01, -1.355e-01, -3.090e-02,  1.753e-01,
        -1.150e-02,  2.136e-01,  6.040e-02, -2.090e-02,  2.340e-02,
        -1.137e-01,  3.280e-02,  1.284e-01,  5.890e-02, -4.396e-01,
        -2.090e-02, -2.160e-02,  1.800e-02, -2.334e-01,  4.890e-02,
        -2.213e-01,  1.550e-01, -1.900e-03, -8.090e-02,  2.975e-01,
         1.011e-01, -5.970e-02, -6.590e-02,  9.930e-02,  6.810e-02,
        -3.250e-02,  1.207e-01,  9.700e-03,  1.188e-01,  2.268e-01,
        -8.970e-02, -5.680e-02, -9.990e-02, -5.860e-02,  1.240e-01,
         1.006e-01,  1.541e-01, -8.370e-02, -8.710e-02,  3.410e-02,
         1.926e-01,  7.500e-03, -9.960e-02,  2.720e-02,  7.000e-03],
       dtype=float32)]

In [48]:
# Cosine Similarity score for fasttext model using word2vec
fasttext_similarity_score = []
for i in range(0, len(df)):
    sim_score = cosine_similarity(np.mean(fasttext_search_phrase, axis = 0), 
                                  np.mean(fasttext_vectors[i], axis = 0))
    fasttext_similarity_score.append(sim_score)

# Add Word2Vec similarity score
df['fasttext_sim_score'] = fasttext_similarity_score
df['mean_sim_score'] = df.loc[:, 'tfidf_sim_score': 'fasttext_sim_score'].mean(axis=1)
df.sort_values(by = 'mean_sim_score', ascending = False).head(20)

,job_title,location,connection,nlp_job_title,cleaned_job_title,tfidf_sim_score,tfidf_sim_score2,GloVe_sim_score,Word2Vec_sim_score,mean_sim_score,fasttext_sim_score
28,Junior MES Engineer| Information Systems,"Myrtle Beach, South Carolina Area",52,junior mes engineer| information systems,junior me engineer information system,0.328256,0.328256,0.658723,0.596684,0.532624,0.805846
32,Human Resources professional for the world lea...,"Highland, California",50,human resources professional world leader gis ...,human resource professional world leader gi so...,0.335103,0.335942,0.569041,0.393964,0.465235,0.748846
34,Information Systems Specialist and Programmer ...,"Gaithersburg, Maryland",4,information systems specialist programmer love...,information system specialist programmer love ...,0.000000,0.000000,0.648725,0.495401,0.367604,0.775469
44,Student at Indiana University Kokomo - Busines...,"Lafayette, Indiana",19,student indiana university kokomo business man...,student indiana university kokomo business man...,0.000000,0.000000,0.528630,0.439216,0.329633,0.767994
20,Business Management Major and Aspiring Human R...,"Monroe, Louisiana Area",5,business management major aspiring human resou...,business management major aspiring human resou...,0.000000,0.000000,0.525942,0.368448,0.308324,0.731955
18,"Retired Army National Guard Recruiter, office ...","Virginia Beach, Virginia",82,retired army national guard recruiter office m...,retired army national guard recruiter office m...,0.000000,0.000000,0.465067,0.325941,0.286324,0.729181
14,Experienced Retail Manager and aspiring Human ...,"Austin, Texas Area",57,experienced retail manager aspire human resour...,experienced retail manager aspiring human reso...,0.000000,0.000000,0.492002,0.304303,0.284664,0.712602
48,Aspiring Human Resources Manager | Graduating ...,"Cape Girardeau, Missouri",103,aspiring human resources manager | graduate 20...,aspiring human resource manager graduating may...,0.000000,0.000000,0.474840,0.295622,0.279571,0.714350
27,Liberal Arts Major. Aspiring Human Resources A...,"Baton Rouge, Louisiana Area",7,liberal arts major aspire human resources analyst,liberal art major aspiring human resource analyst,0.000000,0.000000,0.408712,0.319425,0.272865,0.727017
29,Senior Human Resources Business Partner at Hei...,"Chattanooga, Tennessee Area",455,senior human resources business partner heil e...,senior human resource business partner heil en...,0.000000,0.000000,0.435209,0.297116,0.272541,0.719842
38,Undergraduate Research Assistant at Styczynski...,Greater Atlanta Area,155,undergraduate research assistant styczynski lab,undergraduate research assistant styczynski lab,0.000000,0.000000,0.445601,0.308210,0.270054,0.678063
24,Aspiring Human Resources Professional | Passio...,"New York, New York",212,aspiring human resources professional | passio...,aspiring human resource professional passionat...,0.000000,0.000000,0.448559,0.261649,0.266717,0.712542
12,Aspiring Human Resources Management student se...,"Houston, Texas Area",500+,aspiring human resources management student se...,aspiring human resource management student see...,0.000000,0.000000,0.429476,0.287681,0.265157,0.694496
36,Human Resources Management Major,"Milpitas, California",18,human resources management major,human resource management major,0.000000,0.000000,0.450756,0.270854,0.262962,0.675761
21,"Aspiring Human Resources Manager, seeking inte...","Houston, Texas Area",7,aspiring human resources manager seek internsh...,aspiring human resource manager seeking intern...,0.000000,0.000000,0.422709,0.275613,0.260708,0.691347
40,Seeking employment opportunities within Custom...,"Torrance, California",64,seek employment opportunity customer service p...,seeking employment opportunity within customer...,0.000000,0.000000,0.462334,0.243767,0.258945,0.671044
50,Business Intelligence and Analytics at Travelers,Greater New York City Area,49,business intelligence analytics traveler,business intelligence analytics traveler,0.000000,0.000000,0.393947,0.331325,0.257974,0.641255
10,"SVP, CHRO, Marketing & Communications, CSR Off...","Houston, Texas Area",500+,svp chro marketing communications csr officer ...,svp chro marketing communication csr officer e...,0.000000,0.000000,0.375296,0.300032,0.256185,0.692947
23,"Nortia Staffing is seeking Human Resources, Pa...","San Jose, California",500+,nortia staffing seek human resources payroll a...,nortia staffing seeking human resource payroll...,0.000000,0.000000,0.399609,0.273877,0.255921,0.693667
30,Aspiring Human Resources Professional | An ene...,"Austin, Texas Area",174,aspiring human resources professional | energe...,aspiring human resource professional energetic...,0.000000,0.000000,0.400854,0.261053,0.254149,0.697513

In [49]:
#import io

#def load_vectors(fname):
#    fin = io.open(fname, 'r', encoding='utf-8', newline='\n', errors='ignore')
#    n, d = map(int, fin.readline().split())
#    data = {}
#    for line in fin:
#        tokens = line.rstrip().split(' ')
#        data[tokens[0]] = map(float, tokens[1:])
#    return data

In [50]:
#load_vectors("wiki-news-300d-1M.vec")

In [51]:
#import fasttext

In [52]:
#model_load = fasttext.load_model("fasttext_cbow.bin")

In [53]:
#model_load

In [54]:
#model_load['king']

In [55]:
#fasttext_model['king']

In [56]:
# Build BERT_base model
bert_model = SentenceTransformer('bert-base-nli-mean-tokens')

In [58]:
# Convert job titles into BERT embedded vectors
bert_job_title_embeddings = bert_model.encode(cleaned_title_list)
bert_job_title_embeddings.shape

(53, 768)

In [59]:
bert_job_title_embeddings[0].shape

(768,)

In [61]:
# Convert search phrase into a BERT embedded vector
bert_search_phrase_embedding = bert_model.encode(lemmatized_phrase)
bert_search_phrase_embedding.shape

(768,)

In [64]:
# Calculate cosine similarity between job title and search phrase vectors
bert_cosine_similarity = []
for i in range(0, len(df)):
    cos_sim = cosine_similarity(bert_job_title_embeddings[i], bert_search_phrase_embedding)
    bert_cosine_similarity.append(cos_sim)
    
# Add BERT_cosine_similarity column in the pt dataframe
df['BERT_sim_score'] = bert_cosine_similarity
df['mean_sim_score'] = df.loc[:, 'tfidf_sim_score': 'BERT_sim_score'].mean(axis=1)
df.sort_values(by = 'mean_sim_score', ascending = False).head()

,job_title,location,connection,nlp_job_title,cleaned_job_title,tfidf_sim_score,tfidf_sim_score2,GloVe_sim_score,Word2Vec_sim_score,mean_sim_score,fasttext_sim_score,BERT_sim_score
28,Junior MES Engineer| Information Systems,"Myrtle Beach, South Carolina Area",52,junior mes engineer| information systems,junior me engineer information system,0.328256,0.328256,0.658723,0.596684,0.545556,0.805846,0.557185
32,Human Resources professional for the world lea...,"Highland, California",50,human resources professional world leader gis ...,human resource professional world leader gi so...,0.335103,0.335942,0.569041,0.393964,0.496613,0.748846,0.600703
34,Information Systems Specialist and Programmer ...,"Gaithersburg, Maryland",4,information systems specialist programmer love...,information system specialist programmer love ...,0.000000,0.000000,0.648725,0.495401,0.422359,0.775469,0.621406
20,Business Management Major and Aspiring Human R...,"Monroe, Louisiana Area",5,business management major aspiring human resou...,business management major aspiring human resou...,0.000000,0.000000,0.525942,0.368448,0.342497,0.731955,0.432905
44,Student at Indiana University Kokomo - Busines...,"Lafayette, Indiana",19,student indiana university kokomo business man...,student indiana university kokomo business man...,0.000000,0.000000,0.528630,0.439216,0.337368,0.767994,0.289337