### Background:

As a talent sourcing and management company, we are interested in finding talented individuals for sourcing these candidates to technology companies. Finding talented candidates is not easy, for several reasons. The first reason is one needs to understand what the role is very well to fill in that spot, this requires understanding the client’s needs and what they are looking for in a potential candidate. The second reason is one needs to understand what makes a candidate shine for the role we are in search for. Third, where to find talented individuals is another challenge.

The nature of our job requires a lot of human labor and is full of manual operations. Towards automating this process we want to build a better approach that could save us time and finally help us spot potential candidates that could fit the roles we are in search for. Moreover, going beyond that for a specific role we want to fill in we are interested in developing a machine learning powered pipeline that could spot talented individuals, and rank them based on their fitness.

We are right now semi-automatically sourcing a few candidates, therefore the sourcing part is not a concern at this time but we expect to first determine best matching candidates based on how fit these candidates are for a given role. We generally make these searches based on some keywords such as “full-stack software engineer”, “engineering manager” or “aspiring human resources” based on the role we are trying to fill in. These keywords might change, and you can expect that specific keywords will be provided to you.

Assuming that we were able to list and rank fitting candidates, we then employ a review procedure, as each candidate needs to be reviewed and then determined how good a fit they are through manual inspection. This procedure is done manually and at the end of this manual review, we might choose not the first fitting candidate in the list but maybe the 7th candidate in the list. If that happens, we are interested in being able to re-rank the previous list based on this information. This supervisory signal is going to be supplied by starring the 7th candidate in the list. Starring one candidate actually sets this candidate as an ideal candidate for the given role. Then, we expect the list to be re-ranked each time a candidate is starred.

### Data Description:

The data comes from our sourcing efforts. We removed any field that could directly reveal personal details and gave a unique identifier for each candidate.

### Attributes:

id : unique identifier for candidate (numeric)

job_title : job title for candidate (text)

location : geographical location for candidate (text)

connections: number of connections candidate has, 500+ means over 500 (text)

### Output (desired target):

fit - how fit the candidate is for the role? (numeric, probability between 0-1)

## Keywords: “Aspiring human resources” or “seeking human resources”


### Goal(s):

Predict how fit the candidate is based on their available information (variable fit)

### Success Metric(s):

Rank candidates based on a fitness score.

Re-rank candidates when a candidate is starred.

### Bonus(es):

We are interested in a robust algorithm, tell us how your solution works and show us how your ranking gets better with each starring action.

How can we filter out candidates which in the first place should not be in this list?

Can we determine a cut-off point that would work for other roles without losing high potential candidates?

Do you have any ideas that we should explore so that we can even automate this procedure to prevent human bias?

In [18]:
# import modules
import random
import os
import warnings
# ignore warnings
warnings.filterwarnings('ignore')

# import libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [19]:
# load the dataset
df = pd.read_csv('potential-talents.csv')

In [20]:
df.head()

,id,job_title,location,connection,fit
0,1,2019 C.T. Bauer College of Business Graduate (...,"Houston, Texas",85,NaN
1,2,Native English Teacher at EPIK (English Progra...,Kanada,500+,NaN
2,3,Aspiring Human Resources Professional,"Raleigh-Durham, North Carolina Area",44,NaN
3,4,People Development Coordinator at Ryan,"Denton, Texas",500+,NaN
4,5,Advisory Board Member at Celal Bayar University,"İzmir, Türkiye",500+,NaN

In [21]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 104 entries, 0 to 103
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   id          104 non-null    int64
 1   job_title   104 non-null    object
 2   location    104 non-null    object
 3   connection  104 non-null    object
 4   fit         0 non-null      float64
dtypes: float64(1), int64(1), object(3)
memory usage: 4.2+ KB

In [22]:
data_dup = df[df.duplicated(keep="last")]
data_dup

Empty DataFrame
Columns: [id, job_title, location, connection, fit]
Index: []

In [23]:
# Drop fit column and explore duplicate rows
df.drop('fit', axis = 1, inplace = True)             
df_dup = df.drop(['id'], axis = 1)                    
print("Number of duplicate entries:", df_dup.duplicated().sum())

Number of duplicate entries: 51

In [25]:
df_dup.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 104 entries, 0 to 103
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   job_title   104 non-null    object
 1   location    104 non-null    object
 2   connection  104 non-null    object
dtypes: object(3)
memory usage: 2.6+ KB

In [30]:
# Drop duplicate rows and rebuild dataframe
df_dup = df_dup.drop_duplicates()                                    
df = pd.concat([df['id'], df_dup], axis = 1).dropna(axis = 0)

In [31]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 53 entries, 0 to 103
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   id          53 non-null     int64
 1   job_title   53 non-null     object
 2   location    53 non-null     object
 3   connection  53 non-null     object
dtypes: int64(1), object(3)
memory usage: 2.1+ KB

In [36]:
df

,id,job_title,location,connection
0,1,2019 C.T. Bauer College of Business Graduate (...,"Houston, Texas",85
1,2,Native English Teacher at EPIK (English Progra...,Kanada,500+
2,3,Aspiring Human Resources Professional,"Raleigh-Durham, North Carolina Area",44
3,4,People Development Coordinator at Ryan,"Denton, Texas",500+
4,5,Advisory Board Member at Celal Bayar University,"İzmir, Türkiye",500+
5,6,Aspiring Human Resources Specialist,Greater New York City Area,1
6,7,Student at Humber College and Aspiring Human R...,Kanada,61
7,8,HR Senior Specialist,San Francisco Bay Area,500+
9,10,Seeking Human Resources HRIS and Generalist Po...,Greater Philadelphia Area,500+
10,11,Student at Chapman University,"Lake Forest, California",2
11,12,"SVP, CHRO, Marketing & Communications, CSR Off...","Houston, Texas Area",500+
12,13,Human Resources Coordinator at InterContinenta...,"Atlanta, Georgia",500+
26,27,Aspiring Human Resources Management student se...,"Houston, Texas Area",500+
27,28,Seeking Human Resources Opportunities,"Chicago, Illinois",390
65,66,Experienced Retail Manager and aspiring Human ...,"Austin, Texas Area",57
66,67,"Human Resources, Staffing and Recruiting Profe...","Jackson, Mississippi Area",500+
67,68,Human Resources Specialist at Luxottica,Greater New York City Area,500+
68,69,"Director of Human Resources North America, Gro...","Greater Grand Rapids, Michigan Area",500+
69,70,"Retired Army National Guard Recruiter, office ...","Virginia Beach, Virginia",82
70,71,"Human Resources Generalist at ScottMadden, Inc.","Raleigh-Durham, North Carolina Area",500+
71,72,Business Management Major and Aspiring Human R...,"Monroe, Louisiana Area",5
72,73,"Aspiring Human Resources Manager, seeking inte...","Houston, Texas Area",7
73,74,Human Resources Professional,Greater Boston Area,16
74,75,"Nortia Staffing is seeking Human Resources, Pa...","San Jose, California",500+
75,76,Aspiring Human Resources Professional | Passio...,"New York, New York",212
76,77,Human Resources|\nConflict Management|\nPolici...,Dallas/Fort Worth Area,409
77,78,Human Resources Generalist at Schwan's,Amerika Birleşik Devletleri,500+
78,79,Liberal Arts Major. Aspiring Human Resources A...,"Baton Rouge, Louisiana Area",7
79,80,Junior MES Engineer| Information Systems,"Myrtle Beach, South Carolina Area",52
80,81,Senior Human Resources Business Partner at Hei...,"Chattanooga, Tennessee Area",455
81,82,Aspiring Human Resources Professional | An ene...,"Austin, Texas Area",174
82,83,HR Manager at Endemol Shine North America,"Los Angeles, California",268
83,84,Human Resources professional for the world lea...,"Highland, California",50
84,85,RRP Brand Portfolio Executive at JTI (Japan To...,Greater Philadelphia Area,500+
85,86,Information Systems Specialist and Programmer ...,"Gaithersburg, Maryland",4
86,87,Bachelor of Science in Biology from Victoria U...,"Baltimore, Maryland",40
87,88,Human Resources Management Major,"Milpitas, California",18
88,89,Director Human Resources at EY,Greater Atlanta Area,349
89,90,Undergraduate Research Assistant at Styczynski...,Greater Atlanta Area,155
90,91,Lead Official at Western Illinois University,Greater Chicago Area,39
91,92,Seeking employment opportunities within Custom...,"Torrance, California",64
92,93,Admissions Representative at Community medical...,"Long Beach, California",9
93,94,Seeking Human Resources Opportunities. Open t...,Amerika Birleşik Devletleri,415
94,95,Student at Westfield State University,"Bridgewater, Massachusetts",57
95,96,Student at Indiana University Kokomo - Busines...,"Lafayette, Indiana",19
96,97,Aspiring Human Resources Professional,"Kokomo, Indiana Area",71
97,98,Student,"Houston, Texas Area",4
98,99,Seeking Human Resources Position,"Las Vegas, Nevada Area",48
99,100,Aspiring Human Resources Manager | Graduating ...,"Cape Girardeau, Missouri",103
100,101,Human Resources Generalist at Loparex,"Raleigh-Durham, North Carolina Area",500+
101,102,Business Intelligence and Analytics at Travelers,Greater New York City Area,49
102,103,Always set them up for Success,Greater Los Angeles Area,500+
103,104,Director Of Administration at Excellence Logging,"Katy, Texas",500+